  hr{
    border-top: 1px solid #CCC!important;
    border-bottom: 1px solid #FFFFFF!important;
  }
  .alert-splash{
    position: fixed;
    left: -5px;
    bottom: 0px;
    width: 175px;
    z-index: 1035;
    opacity: 0.7;
    border: none!important;
    background: #000!important;
    color: #FFF!important;
    text-align: center;
  }  
  #content{
    min-height: 580px!important;
  }
  #content-header{
    min-height: 60px!important;  
  }
  #content-header h1 {  
    font-size: 22px!important;  
  }  
  .container-fluid .row-fluid:first-child {
    margin-top: 10px!important;
  }  
  .table-borderless tr:first-child td,
  .table-borderless tr:first-child th{ 
      border: 0!important
  }
  .right {
  	text-align: right!important;
  }
  .center {
  	text-align: center!important;
  }
  
  .form-horizontal .controls select:first-child, 
  .form-horizontal .controls .select2-container:first-child{
    width:50%;
  }
  
  .form-horizontal .controls .select2-container-multi{
    width:75%!important;
  }

  .form-horizontal .controls select:not(:first-child){
    width:15%;
  }

  table th {
    font-size: 12px!important;
  }

  input[name="phone"]{
    max-width: 150px!important;
  }  

  @media print {
    body * {
      visibility:hidden;
    }
    #section_to_print, #section_to_print * {
      visibility:visible;
    }
    #section_to_print {
      position:fixed;
      left:0;
      width:100%;
      top:0;
    }
  }  
