#page-list {
	min-height:250px;
}

#page-list ul {
	background:none;
	margin-left:1em!important;
}

#page-list > ul {
	margin-left:0!important;
}

#page-list a {
	text-decoration:none;
	font-size:13px;
	color:#5c5b5b;
	padding:1px 1px 1px 1px;
	/*background:url(../img/off.png) no-repeat left;*/
}

#page-list a:hover {
	text-decoration:underline;
}

#page-list a.selected {
	color:#bd362f;
	/*background:url(../img/on.png) no-repeat left;*/
}

/* Sortable CSS */
.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.sortable li {
	margin:5px 0;
	padding-left:15px;
}

.sortable li div {
	padding:5px 1px 5px 5px;
	margin:0;
	cursor:pointer;
	border-bottom:1px solid #eee;

	/*-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;*/
}

.sortable li div:hover {
	background-color:#eaeaea;
	/*background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);*/
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.sortable li.placeholder {
	background-color:#c2c0c0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin-left:20px;
}

.plus {
	background:url(../img/more.png) no-repeat 0 7px;
}

.minus {
	background:url(../img/less.png) no-repeat 0 7px;
}

#page-details {
	min-height:250px;
}

#page-details h5 {
	margin:0;
	padding:0;
}
