/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/
html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;    
}
body {    
	background-color: #444444;
	/*background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#555555), to(#111111));*/
	/*background-image: -webkit-linear-gradient(top, #555555 0%, #111111 100%);*/
    /*background-image: -moz-linear-gradient(top, #555555 0%, #111111 100%);*/
    /*background-image: -ms-linear-gradient(top, #555555 0%, #111111 100%);*/
    /*background-image: -o-linear-gradient(top, #555555 0%, #111111 100%);*/
    /*background-image: linear-gradient(top, #555555 0%, #111111 100%);*/
    padding: 0;
    margin-top: 10%;
    text-align: center;
}

.logo {
    color: rgba(50, 50, 50, .3);
    font-size: 2em;
    text-shadow:0px 1px #fff;
}    
.logo > i{
    margin-right: 10px;
}

#loginbox {
    color: #444444;
    /*top: 25%;*/
    max-height: 50%;
    width: 400px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    position: relative;
    margin: 20px auto 20px auto;
}

#loginbox {
    min-height: 260px;
	background: #ffffff;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative;   
}

#loginbox form{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#loginbox p {
    margin: 40px 0px 20px;
    padding: 0 20px;
}

#loginbox .form-actions {
	padding: 14px 20px 15px;
}
#loginbox .form-actions .pull-left {
	margin-top: 2px;
}

#loginbox form#loginform {
	z-index: 200;
}


.form-vertical, .form-actions {
    margin-bottom: 0;
}

.widget-foot{
    color: rgba(50, 50, 50, .1);
    text-shadow:0px 1px rgba(225, 225, 225, .5);
}
@media (max-width: 480px){
    #logo, #loginbox {
        width: 80%; 
    }    
}
