.fullscreen{

}

.fullscreen #content-header{
	padding-top: 25px;	
}

.fullscreen #content {
	margin-left: 0px!important;
	padding-bottom: 0px!important;
	border-top-left-radius: 0px!important;
}

.fullscreen .row-fluid{
	margin-top: 10px;
}
