<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Authentication</h2>
        <i>Any device calls this authentication at the first time.</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/device_authentication.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>">http://localhost/global/apps/auth</div>
    </div>
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody> 				
                        <tr>
                            <td>SERVER URL</td>
                            <td>iBolz API URL</td>
                        </tr>
                        <tr>
                            <td>apps_id</td>
                            <td>iBolz Application ID (required)</td>
                        </tr>
                        <tr>
                            <td>version</td>
                            <td>iBolz Application Version (required)</td>
                        </tr>
                        <tr>
                            <td>mobile_id</td>
                            <td>Device Unique Identifier</td>
                        </tr>
                        <tr>
                            <td>device_id</td>
                            <td>Device category (1:Android, 2:IOS, 3:BlackBerry)</td>
                        </tr>
                        <tr>
                            <td>lang</td>
                            <td>Language (en_US, zh_CN)</td>
                        </tr>
                        <tr>
                            <td>mobile_no</td>
                            <td>Mobile number is user account name (required)</td>
                        </tr>
                        <tr>
                            <td>longitude</td>
                            <td>Longitude of GPS coordinate (optional)</td>
                        </tr>         
                        <tr>
                            <td>latitude</td>
                            <td>Latitude of GPS coordinate (optional)</td>
                        </tr>                 
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail"> 
                <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>          
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail">
            <textarea rows="5" class="form-control" placeholder="Textarea">
            {
                "apps_id": "com.balepoint.ibolz.demo.cn",
                "app_name": "看我",
                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=17377359305417a7abadcca.jpg",
                "descr": "See Me Logo Backgndz",
                "version": "1.0.6",
                "status": "1",
                "message": "",
                "download_page": "http://",
                "iscom": "0",
                "product_id": null,
                "subs_url": null,
                "icon_size": "60",
                "font_size": "26",
                "time_trial": "15",
                "category_list": [
                    {
                        "channel_category_id": "-2",
                        "category_name": "Education",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "25377102854250c77a566f",
                                "channel_name": " zhongnandaxue",
                                "alias": " zhongnandaxue",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "458749232542265c1a7c51",
                                "channel_name": "louie University",
                                "alias": "louie University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "653228280541bd68850853",
                                "channel_name": "testing by lyra",
                                "alias": "testing by lyra",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "1818248605541b9cbdc9041",
                                "channel_name": "University 1",
                                "alias": "University 1",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "4810395705428c8877040f",
                                "channel_name": "中南大学",
                                "alias": "中南大学",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "18569032875434e7b5d84ce",
                                "channel_name": "中山大学",
                                "alias": "中山大学",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "523488083545f2757505a8",
                                "channel_name": "北京大学",
                                "alias": "北京大学",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "9491647335464444d9fcae",
                                "channel_name": "广州大学",
                                "alias": "广州大学",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "1196548305459cc46b311c",
                                "channel_name": "校园点播",
                                "alias": "校园点播",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "1479289928545f2a385a6c3",
                                "channel_name": "清华大学",
                                "alias": "清华大学",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "17876534805428c85242f47",
                                "channel_name": "湖南大学",
                                "alias": "湖南大学",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            }
                        ]
                    },
                    {
                        "channel_category_id": "2",
                        "category_name": "Restream",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=195141959854373358271e1.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "140780761753c5201d7a631",
                                "channel_name": "02 Nanchong News ",
                                "alias": "Nanchong News ",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=54678427254374b424aab0.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "2",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "136228518353cf158002142",
                                "channel_name": "03 Nanchong Entertainment",
                                "alias": "Nanchong Entertainment",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=46325951254374b4e168a7.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "2",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "34915527953ccef7fab1b6",
                                "channel_name": "04 SZTV",
                                "alias": "SZTV",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=143635706754374b5a8e04e.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "2",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "90205261752e67d9c9bf45",
                                "channel_name": "Aljazeera",
                                "alias": "Aljazeera",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=36255018254374b7131b63.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "2",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "178358126554602657c093c",
                                "channel_name": "Demo Channel#1",
                                "alias": "Demo Channel #1",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=default.jpg",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "2",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            },
                            {
                                "channel_id": "2800063155461b59b6ba62",
                                "channel_name": "十年",
                                "alias": "十年",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=default.jpg",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "2",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": "http://"
                            },
                            {
                                "channel_id": "121704628542223a805beb",
                                "channel_name": "魔警",
                                "alias": "魔警",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=121704628542223a81dec1.jpg",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "2",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": "http://"
                            }
                        ]
                    },
                    {
                        "channel_category_id": "3",
                        "category_name": "VOD",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=59756733754373337c0e64.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "760896538533a70752ff46",
                                "channel_name": "旅游视频",
                                "alias": "旅游视频",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=17996627525464785e3592b.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": ""
                            }
                        ]
                    },
                    {
                        "channel_category_id": "181421917552abce75b95a1",
                        "category_name": "游戏",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=638448596543733483174a.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "210224206453bd06f3cb090",
                                "channel_name": "189gameshop",
                                "alias": "189gameshop",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=204071928853bdf0232bb41.png",
                                "status": "1",
                                "channel_type_id": "6",
                                "channel_category_id": "181421917552abce75b95a1",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": "http://3g.189gameshop.com"
                            },
                            {
                                "channel_id": "31115785453bd12d4034b1",
                                "channel_name": "新华游戏",
                                "alias": "新华游戏",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=114174936653bdf22223e47.jpg",
                                "status": "1",
                                "channel_type_id": "6",
                                "channel_category_id": "181421917552abce75b95a1",
                                "order_number": "0",
                                "server_time": "2014-11-17 11:59:37",
                                "link": "http://game.news.cn/"
                            }
                        ]
                    }
                ],
                "schedule_type_list": [
                    {
                        "schedule_type_id": "1",
                        "schedule_type_name": "Regular",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=ic-reg.png"
                    },
                    {
                        "schedule_type_id": "2",
                        "schedule_type_name": "PPV",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=ic-ppv.png"
                    },
                    {
                        "schedule_type_id": "3",
                        "schedule_type_name": "My Program",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=ic-myp.png"
                    }
                ],
                "feature_list": [
                    {
                        "feature_id": "chat"
                    }
                ],
                "mobile_id": "74be2b9af1"
            }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="api_url" class="col-sm-2 control-label">SERVER URL</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="api_url" id="api_url" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="apps_id" class="col-sm-2 control-label">apps_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="apps_id" id="apps_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="version" class="col-sm-2 control-label">version</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="version" id="version" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile_id" class="col-sm-2 control-label">mobile_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="mobile_id" id="mobile_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="device_id" class="col-sm-2 control-label">device_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="device_id" id="device_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="screen_size" class="col-sm-2 control-label">screen_size</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="screen_size" id="screen_size" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lang" class="col-sm-2 control-label">lang</label>
                    <div class="col-sm-6">
                        <select id="lang" name="lang" class="form-control" >
                            <option value="en_US">en_US (English)</option>
                            <option value="zh_CN">zh_CN (Chinese)</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="latitude" class="col-sm-2 control-label">latitude</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="latitude" id="latitude" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="longitude" class="col-sm-2 control-label">longitude</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="longitude" id="longitude" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
                
                
                <!--
                <div class="col-sm-6">
                <table border="0" cellpadding="5" cellspacing="1">
                    <tbody> 
                            <td nowrap>version</td>
                            <td>
                                <input type="text" class="form-control" name="version" id="version" />
                            </td>
                        </tr>
                        <tr>
                            <td>mobile_id</td>
                            <td><input type="text" class="form-control" name="mobile_id" id="mobile_id" /></td>
                        </tr>
                        <tr>
                            <td>device_id</td>
                            <td><input type="text" class="form-control" name="device_id" id="device_id" /></td>
                        </tr>
                        <tr>
                            <td>screen_size</td>
                            <td><input type="text" class="form-control" name="screen_size" id="screen_size" /></td>
                        </tr>
                        <tr>
                            <td nowrap>lang</td>
                            <td>
                                <select id="lang" name="lang" class="form-control" >
                                    <option value="en_US">en_US (English)</option>
                                    <option value="zh_CN">zh_CN (Chinese)</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>latittude</td>
                            <td><input type="text" class="form-control" name="latitude" id="latitude" /></td>
                        </tr>
                        <tr>
                            <td>longitude</td>
                            <td><input type="text" class="form-control" name="longitude" id="longitude" /></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button></td>
                        </tr>
                    </tbody>
                </table>
                    </div>
                -->
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        
        $('#test_<%=action_id%>').hide();
        $('#api_url').val('<%=REST_API%>');
        $('#apps_id').val('<%=def_apps_id%>');
        $('#version').val('<%=def_version%>');
        $('#lang').val('<%=def_lang%>');
        $('#device_id').val('<%=def_device_id%>');
        $('#mobile_id').val('<%=def_mobile_id%>');
        $('#screen_size').val('<%=def_screen_size%>');
        $('#longitude').val('<%=def_longitude%>');
        $('#latitude').val('<%=def_latitude%>');
        

        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            
            var $url = ($('#api_url_<%=action_id%>').text()).replace("<%=REST_API%>", ""); 
            setupApps(
                    $('#api_url').val(), $('#apps_id').val(), $('#version').val(),
                    $('#lang').val(), $('#device_id').val(), $('#mobile_id').val(),
                    $('#screen_size').val(), $('#longitude').val(), $('#latitude').val()
                );
            $params = createParams($url, null);
            $.blockUI();
            
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>