<li><a href="#">INDEX</a></div></li>
<li><a>DEVICE</a></li>
<li class="submenu"><a href="#/device/authentication">Authentication</a></li>
<li><a href="#/device/customer/">CUSTOMER</a></li>
<li><a href="#/device/content/">CONTENT</a></li>
<li><a href="#/device/menu/">MENU</a></li>
<li><a href="#/device/army/">IBOLZ ARMY</a></li>