body {
    margin-top:50px;
}

table {
    font-size:12px;
}

@media (max-width: 979px){ 
    body {
        margin-top:0px;
    }
}
@media (min-width: 980px) {
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }
 }

.nav-tabs li a {
    text-transform:uppercase;
    background-color:#f2f2f2;
    border-bottom:1px solid #ddd;
    text-shadow: 0px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);
    font-size:12px;
    padding:5px 8px;
}

.nav-tabs li a:hover {
    border:1px solid #ddd;
    text-shadow: 0px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);
}

*::-webkit-input-placeholder
{
    color: #CCCCCC!important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #CCCCCC!important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #CCCCCC!important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #CCCCCC!important;
}

.page-header {
	padding-bottom: 0px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eee;
}

.page-header  h2{
	font-size: 24px;
}

.lazy {
    min-width: 32px;
    min-height: 32px;
}

/*product form*/
.option-form {
    display:none;
    margin-top:10px;
}
.option-values-form
{
    background-color:#fff;
    padding:6px 3px 6px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:5px;
    border:1px solid #ddd;
}

.option-values-form input {
    margin:0px;
}
.option-values-form a {
    margin-top:3px;
}

.pagination{
    margin-top: 0px;
}