body.error-page {
	background: #E9E9E9;	
	font-family: helvetica arial;
	margin: 0;
}


/* ---------------------------------- */
/* @Error Wrapper */
	
#error-wrapper {
	width: 80%;
	/*max-width: 500px;*/
	height: 350px;
	text-align: center;	
	margin: 0 auto;
}

#error-wrapper h1 {
	font-size: 120px;
	margin-bottom: .75em;
}


/* ---------------------------------- */
/* @Error Code */	
#error-code {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: .5em;
}


/* ---------------------------------- */
/* @Error Message */
	
#error-message {
	font-size: 15px;
	margin-bottom: 2em;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
}


/* ---------------------------------- */
/* @Error header*/	
#error-header {
	background: #333;
	width: 100%;
	margin-bottom: 4em;
}

#error-header h1 {
	/*width: 300px;*/
	/*height: 50px;*/	
	font-size: 42px;
	text-align: center;
	line-height: 100px;
	display: block;
	margin: 0 auto;
	position: relative;
	/*left: 10px;*/
	overflow: hidden;
	color: #FFF;
}

#error-actions{
	margin-top: 100px;
	font-size: 20px;
	text-transform: uppercase;
}