<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Add To Favorite</h2>
        <i>Add Channel To Favorite</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/content_addToFavorite.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/channel/add_favorite</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>
                        <tr>
                            <td>customer_id</td>
                            <td>User's Customer ID (required)</td>
                        </tr>
                        <tr>
                            <td>channel_id</td>
                            <td>Channel ID to add (required)</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                    "rcode": "1",
                    "message": "Successfully"
                }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="customer_id" class="col-sm-2 control-label">customer_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="customer_id" id="customer_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="channel_id" class="col-sm-2 control-label">channel_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="channel_id" id="channel_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#customer_id').val('<%=def_customer_id%>');
        $('#channel_id').val('140780761753c5201d7a631');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>