<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Authentication</h2>
        <i>Any device calls this authentication at the first time.</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/video_list_api1.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/apps/auth</div>
    </div>
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody> 				
                        <tr>
                            <td>SERVER URL</td>
                            <td>iBolz API URL</td>
                        </tr>
                        <tr>
                            <td>apps_id</td>
                            <td>iBolz Application ID (required)</td>
                        </tr>
                        <tr>
                            <td>version</td>
                            <td>iBolz Application Version (required)</td>
                        </tr>
                        <tr>
                            <td>mobile_id</td>
                            <td>Device Unique Identifier</td>
                        </tr>
                        <tr>
                            <td>device_id</td>
                            <td>Device category (1:Android, 2:IOS, 3:BlackBerry)</td>
                        </tr>
                        <tr>
                            <td>lang</td>
                            <td>Language (en_US, zh_CN)</td>
                        </tr>
                        <tr>
                            <td>mobile_no</td>
                            <td>Mobile number is user account name (required)</td>
                        </tr>
                        <tr>
                            <td>longitude</td>
                            <td>Longitude of GPS coordinate (optional)</td>
                        </tr>         
                        <tr>
                            <td>latitude</td>
                            <td>Latitude of GPS coordinate (optional)</td>
                        </tr>                 
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail"> 
                <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>          
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
                <textarea rows="5" class="form-control" placeholder="Textarea">
            {
                "apps_id": "com.balepoint.ibolz.moviebay",
                "app_name": "MovieBay",
                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=119660003542b8a8578d0c.png",
                "descr": "",
                "version": "1.0.6",
                "status": "1",
                "message": "Please download new version",
                "download_page": "http://",
                "iscom": "0",
                "product_id": null,
                "subs_url": null,
                "icon_size": "80",
                "font_size": "18",
                "time_trial": "0",
                "menu_list": [],
                "category_list": [
                    {
                        "channel_category_id": "-1",
                        "category_name": "FAVOURITE",
                        "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=3635287205432586cf2132.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": []
                    },
                    {
                        "channel_category_id": "134736620154254ca37c6eb",
                        "category_name": "HOME",
                        "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=1273802630543258f711a0d.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "213584991254254cde21f01",
                                "channel_name": "New Release",
                                "alias": "New Release",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=11673525195434fae99fb32.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "134736620154254ca37c6eb",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "171118372054254c1787d00",
                                "channel_name": "Top Movies",
                                "alias": "Top Movies",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=1648444314542786c442c71.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "134736620154254ca37c6eb",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            }
                        ]
                    },
                    {
                        "channel_category_id": "125929935654092d653330b",
                        "category_name": "CHANNEL",
                        "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=177376492954325911ac181.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "0",
                        "channel_list": [
                            {
                                "channel_id": "20763000553449583a2bde",
                                "channel_name": "01. RCTI",
                                "alias": "RCTI",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=14241451935460cc994d78e.jpg",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": ""
                            },
                            {
                                "channel_id": "183239039453bc2ce4b4af7",
                                "channel_name": "02. Global TV",
                                "alias": "Global TV",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=10559908685460ccf754c5a.jpg",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": ""
                            },
                            {
                                "channel_id": "78105354953bc26884f029",
                                "channel_name": "03. MNC TV",
                                "alias": "MNC TV",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=97987983854255557cac64.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": ""
                            },
                            {
                                "channel_id": "20167602853c4b46693be7",
                                "channel_name": "04. Sindo TV",
                                "alias": "Sindo TV",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=1127255584542555fd43379.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": ""
                            },
                            {
                                "channel_id": "97347555253c60c91ad42c",
                                "channel_name": "05. MNC Kids",
                                "alias": "MNC Kids",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=2896663735425563b21578.png",
                                "status": "1",
                                "channel_type_id": "1",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": ""
                            },
                            {
                                "channel_id": "133814657353c4d7001fa2f",
                                "channel_name": "06. MNC Music",
                                "alias": "MNC Music",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=77700148454255672d1fdb.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": ""
                            },
                            {
                                "channel_id": "135745495653c60d02c5607",
                                "channel_name": "07. MNC Entertainment",
                                "alias": "MNC Entertainment",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=22817493542556a4699db.png",
                                "status": "1",
                                "channel_type_id": "1",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": ""
                            },
                            {
                                "channel_id": "1728813654542251149dcf1",
                                "channel_name": "08. MNC Fashion",
                                "alias": "MNC Fashion",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=401914169542556b9db981.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "21444004415422513ad529e",
                                "channel_name": "09. MNC Infotainment",
                                "alias": "MNC Infotainment",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=21345790655425570601eff.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "612150973542523c201955",
                                "channel_name": "11. MNC Food & Travel",
                                "alias": "MNC Food & Travel",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=176661791054255736980fe.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "125929935654092d653330b",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            }
                        ]
                    },
                    {
                        "channel_category_id": "80386255054092d8aa5545",
                        "category_name": "MOVIES",
                        "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=16418749495432593a9aaea.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "129148225409798c6c873",
                                "channel_name": "Movies - 01 - Indonesian Movies",
                                "alias": "Indonesian Movies",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=210648151554240e9d908f8.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "80386255054092d8aa5545",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "177021144354097977b20b0",
                                "channel_name": "Movies - 02 - FTV",
                                "alias": "FTV",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=47848176254240efcccf2c.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "80386255054092d8aa5545",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "214391538954097919b0d46",
                                "channel_name": "Movies - 03 - Western Movies",
                                "alias": "Western Movies",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=159711129154240edf9bc1c.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "80386255054092d8aa5545",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "45063004540979416d068",
                                "channel_name": "Movies - 04 - Trailer",
                                "alias": "Trailer",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=103604150154240ecb145e3.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "80386255054092d8aa5545",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "8910019395409795f30813",
                                "channel_name": "Movies - 05 - Asian Movies",
                                "alias": "Asian Movies",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=139858888754240e844b37c.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "80386255054092d8aa5545",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            }
                        ]
                    },
                    {
                        "channel_category_id": "210757968654092db1b99c7",
                        "category_name": "TV SERIES",
                        "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=1515185807543259a8420f1.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "155988887854097a92bda94",
                                "channel_name": "TV Series - 02 - Drama",
                                "alias": "Drama",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=7274801542786998bf22.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "210757968654092db1b99c7",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            },
                            {
                                "channel_id": "5412336995459a131978d3",
                                "channel_name": "TV Series - 03 - Action",
                                "alias": "Action",
                                "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=11676104845460b18742011.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "210757968654092db1b99c7",
                                "order_number": "0",
                                "server_time": "2014-11-15 03:54:52",
                                "link": "http://"
                            }
                        ]
                    }
                ],
                "schedule_type_list": [
                    {
                        "schedule_type_id": "1",
                        "schedule_type_name": "Regular",
                        "thumbnail": "http://moviebay2.ibolz.tv/media/thumbnail?id=ic-reg.png"
                    }
                ],
                "feature_list": [],
                "mobile_id": "74be2b9af1",
                "trial_time": 3
            }
                </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="api_url" class="col-sm-2 control-label">SERVER URL</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="api_url" id="api_url" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="apps_id" class="col-sm-2 control-label">apps_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="apps_id" id="apps_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="version" class="col-sm-2 control-label">version</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="version" id="version" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile_id" class="col-sm-2 control-label">mobile_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="mobile_id" id="mobile_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="device_id" class="col-sm-2 control-label">device_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="device_id" id="device_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="screen_size" class="col-sm-2 control-label">screen_size</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="screen_size" id="screen_size" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lang" class="col-sm-2 control-label">lang</label>
                    <div class="col-sm-6">
                        <select id="lang" name="lang" class="form-control" >
                            <option value="en_US">en_US (English)</option>
                            <option value="zh_CN">zh_CN (Chinese)</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="latitude" class="col-sm-2 control-label">latitude</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="latitude" id="latitude" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="longitude" class="col-sm-2 control-label">longitude</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="longitude" id="longitude" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
                
                
                <!--
                <div class="col-sm-6">
                <table border="0" cellpadding="5" cellspacing="1">
                    <tbody> 
                            <td nowrap>version</td>
                            <td>
                                <input type="text" class="form-control" name="version" id="version" />
                            </td>
                        </tr>
                        <tr>
                            <td>mobile_id</td>
                            <td><input type="text" class="form-control" name="mobile_id" id="mobile_id" /></td>
                        </tr>
                        <tr>
                            <td>device_id</td>
                            <td><input type="text" class="form-control" name="device_id" id="device_id" /></td>
                        </tr>
                        <tr>
                            <td>screen_size</td>
                            <td><input type="text" class="form-control" name="screen_size" id="screen_size" /></td>
                        </tr>
                        <tr>
                            <td nowrap>lang</td>
                            <td>
                                <select id="lang" name="lang" class="form-control" >
                                    <option value="en_US">en_US (English)</option>
                                    <option value="zh_CN">zh_CN (Chinese)</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>latittude</td>
                            <td><input type="text" class="form-control" name="latitude" id="latitude" /></td>
                        </tr>
                        <tr>
                            <td>longitude</td>
                            <td><input type="text" class="form-control" name="longitude" id="longitude" /></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button></td>
                        </tr>
                    </tbody>
                </table>
                    </div>
                -->
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        
        $('#test_<%=action_id%>').hide();
        $('#api_url').val('<%=REST_API%>');
        $('#apps_id').val('<%=def_apps_id%>');
        $('#version').val('<%=def_version%>');
        $('#lang').val('<%=def_lang%>');
        $('#device_id').val('<%=def_device_id%>');
        $('#mobile_id').val('<%=def_mobile_id%>');
        $('#screen_size').val('<%=def_screen_size%>');
        $('#longitude').val('<%=def_longitude%>');
        $('#latitude').val('<%=def_latitude%>');
        

        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            
            var $url = $('#api_url').val() + ($('#api_url_<%=action_id%>').text()).replace("<%=REST_API%>", ""); 
            setupApps(
                    $('#api_url').val(), $('#apps_id').val(), $('#version').val(),
                    $('#lang').val(), $('#device_id').val(), $('#mobile_id').val(),
                    $('#screen_size').val(), $('#longitude').val(), $('#latitude').val()
                );
            $params = createParams($url, null);
            $.blockUI();
            
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>