<li><a href="#/device/">Device</a></div></li>
<li><a>Content</a></li>
<li class="submenu"><a href="#/device/content/addToFavorite">Add To Favorite</a></li>
<li class="submenu"><a href="#/device/content/removeFromFavorite">Remove From Favorite</a></li>
<li class="submenu"><a href="#/device/content/scheduleList">Schedule List</a></li>
<li class="submenu"><a href="#/device/content/channelPlay">Channel Play</a></li>
<li><a>VOD</a></li>
<li class="submenu"><a href="#/device/content/vodChannelCategoryList">VOD Channel Category List</a></li>
<li class="submenu"><a href="#/device/content/vodList">VOD Content List</a></li>
<li class="submenu"><a href="#/device/content/vodDetail">VOD Content Detail</a></li>
<li class="submenu"><a href="#/device/content/vodPlay">VOD Content Play</a></li>
<li class="submenu"><a href="#/device/content/vodDownload">VOD Content Download</a></li>