<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Schedule List</h2>
        <i>Schedule List</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/content_scheduleList.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/schedule/today</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>
                        <tr>
                            <td>channel_id</td>
                            <td>Channel ID(required)</td>
                        </tr>
                        <tr>
                            <td>schedule_type_id</td>
                            <td>Schedule Type ID (1:Regular, 2:PPV, 3:My Program</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                    "schedule_list": [
                        {
                            "schedule_id": "188856503553faccf09d295",
                            "channel_id": "140780761753c5201d7a631",
                            "program_id": "112280232153c51f899cb73",
                            "duration": "1440",
                            "program_name": "Nanchong News - Live",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=201468413353c564407a7e1.png",
                            "start_date_time": "2014-11-17 00:00:00",
                            "start_time_text": "Mon 12:00 AM",
                            "end_time_text": "12:00 AM",
                            "schedule_type_id": "1",
                            "server_time": "Monday 11:53 AM",
                            "enable_record": "1",
                            "enable_remove": "0",
                            "enable_play": "0"
                        }
                    ]
                }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="channel_id" class="col-sm-2 control-label">channel_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="channel_id" id="channel_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="schedule_type_id" class="col-sm-2 control-label">schedule_type_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="schedule_type_id" id="schedule_type_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
//        $('#customer_id').val('<%=def_customer_id%>');
        $('#channel_id').val('140780761753c5201d7a631');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>