<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Content VOD List</h2>
        <i>Content VOD List</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/content_vodList.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/vod/channel_category_list</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>
                        
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                "channel_category_list": [
                    {
                        "channel_category_id": "6013843525474151da51fb",
                        "category_name": "Vod",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=134147475954783bfc86146.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "1778736751548e3c98c0e1d",
                                "channel_name": "Game",
                                "alias": "Games",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=1778736751548e3c98e2c92.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "6013843525474151da51fb",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://"
                            },
                            {
                                "channel_id": "1042317866548e3d26174e0",
                                "channel_name": "shopping",
                                "alias": "shopping",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=1042317866548e3d269ce29.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "6013843525474151da51fb",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://"
                            },
                            {
                                "channel_id": "2104159753547e7280c281d",
                                "channel_name": "卡通",
                                "alias": "cartoon",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=57811651854895cc4b9c9c.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "6013843525474151da51fb",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://"
                            },
                            {
                                "channel_id": "186996533053bd13dad7935",
                                "channel_name": "娱乐",
                                "alias": "Entertainment",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=170822338854895cec5d2ab.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "6013843525474151da51fb",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "45175065153db37bdbd5d6",
                                "channel_name": "学习",
                                "alias": "learn",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=160164974354895ce1a9598.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "6013843525474151da51fb",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "7182269053db37d613af6",
                                "channel_name": "电影",
                                "alias": "Movie",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=213445631454895ccd5c036.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "6013843525474151da51fb",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "26275041353db38031769f",
                                "channel_name": "音乐",
                                "alias": "Music",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=132271392554895cd774a6f.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "6013843525474151da51fb",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            }
                        ]
                    },
                    {
                        "channel_category_id": "9",
                        "category_name": "本地",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=8877395265478458b3da54.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "1820580094547845e2085cb",
                                "channel_name": "电影频道",
                                "alias": "Local Movie",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=1233307562548966dd25919.png",
                                "status": "1",
                                "channel_type_id": "1",
                                "channel_category_id": "9",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://"
                            },
                            {
                                "channel_id": "1137024915547c31776a7c5",
                                "channel_name": "记录片频道",
                                "alias": "newsreel",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=250285677548966e862ddd.png",
                                "status": "1",
                                "channel_type_id": "1",
                                "channel_category_id": "9",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://"
                            },
                            {
                                "channel_id": "259487147547c2d0328aee",
                                "channel_name": "音乐频道",
                                "alias": "Local Music",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=1323982828548966ffaa175.png",
                                "status": "1",
                                "channel_type_id": "1",
                                "channel_category_id": "9",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://"
                            }
                        ]
                    },
                    {
                        "channel_category_id": "1762189472547414e36d0b8",
                        "category_name": "Restream",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=1618620205547839aa74759.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "136228518353cf158002142",
                                "channel_name": "南充娱乐",
                                "alias": "Nanchong Entertainment",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=46325951254374b4e168a7.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "1762189472547414e36d0b8",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "140780761753c5201d7a631",
                                "channel_name": "南充新闻",
                                "alias": "Nanchong News",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=54678427254374b424aab0.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "1762189472547414e36d0b8",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "34915527953ccef7fab1b6",
                                "channel_name": "深圳卫视",
                                "alias": "Shenzhen satellite TV",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=143635706754374b5a8e04e.png",
                                "status": "1",
                                "channel_type_id": "2",
                                "channel_category_id": "1762189472547414e36d0b8",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            }
                        ]
                    },
                    {
                        "channel_category_id": "1361514023547415ba05f42",
                        "category_name": "Shopping",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=201928985454783de7dad39.png",
                        "tab_type": "0",
                        "link": "www.buy-me.cn",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "111124478453bd1126720c5",
                                "channel_name": "买我",
                                "alias": "Buy me",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=1318212878548adfd4b0d74.png",
                                "status": "1",
                                "channel_type_id": "6",
                                "channel_category_id": "1361514023547415ba05f42",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://www.buy-me.cn/"
                            }
                        ]
                    },
                    {
                        "channel_category_id": "19431243654741598261b3",
                        "category_name": "Game",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=150241943954784851c07e4.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "210224206453bd06f3cb090",
                                "channel_name": "189游戏商店",
                                "alias": "189gameshop",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=204071928853bdf0232bb41.png",
                                "status": "1",
                                "channel_type_id": "6",
                                "channel_category_id": "19431243654741598261b3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://www.189gameshop.com"
                            },
                            {
                                "channel_id": "31115785453bd12d4034b1",
                                "channel_name": "新华游戏",
                                "alias": "Xinhua News game",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=114174936653bdf22223e47.jpg",
                                "status": "1",
                                "channel_type_id": "6",
                                "channel_category_id": "19431243654741598261b3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": "http://game.news.cn/"
                            }
                        ]
                    },
                    {
                        "channel_category_id": "-2",
                        "category_name": "Education",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                        "tab_type": "0",
                        "link": "",
                        "show_tab_menu": "1",
                        "show_dd_menu": "1",
                        "channel_list": [
                            {
                                "channel_id": "4810395705428c8877040f",
                                "channel_name": "Central South University",
                                "alias": "Central South University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "25377102854250c77a566f",
                                "channel_name": "Central South University",
                                "alias": "Central South University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "9491647335464444d9fcae",
                                "channel_name": "Guangzhou University",
                                "alias": "Guangzhou University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "143213961154781f05b575e",
                                "channel_name": "Homework",
                                "alias": "Homework",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "17876534805428c85242f47",
                                "channel_name": "Hunan University",
                                "alias": "Hunan University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "695069207546d62c60586c",
                                "channel_name": "ICMS University",
                                "alias": "ICMS University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "458749232542265c1a7c51",
                                "channel_name": "Louie University",
                                "alias": "Louie University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "523488083545f2757505a8",
                                "channel_name": "Peking University",
                                "alias": "Peking University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "1479289928545f2a385a6c3",
                                "channel_name": "Tsinghua University",
                                "alias": "Tsinghua University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "18569032875434e7b5d84ce",
                                "channel_name": "Zhongshan University",
                                "alias": "Zhongshan University",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            },
                            {
                                "channel_id": "1196548305459cc46b311c",
                                "channel_name": "计生工作台",
                                "alias": "计生工作台",
                                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=161499444154783cd5a891e.png",
                                "status": "1",
                                "channel_type_id": "3",
                                "channel_category_id": "3",
                                "order_number": "0",
                                "server_time": "2014-12-17 11:52:08",
                                "link": ""
                            }
                        ]
                    }
                ]
            }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
//        $('#customer_id').val('<%=def_customer_id%>');
        $('#channel_id').val('1818248605541b9cbdc9041');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>