<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Content VOD Detail</h2>
        <i>Content VOD Detail</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/content_vodDetail.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/vod/content_detail</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>
                        <tr>
                            <td>channel_id</td>
                            <td>Channel ID(required)</td>
                        </tr>
                        <tr>
                            <td>content_id</td>
                            <td>Channel Content ID(required)</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                    "channel_id": "-2",
                    "content_id": "17010841965464597e675a9",
                    "title": "VID_20141102_215259.mp4",
                    "video_duration": "12",
                    "filename": "MNTMEDIA-18287941715464597d452d5-VID20141102215259mp4",
                    "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=MNTMEDIA-18287941715464597d452d5-VID20141102215259mp4.jpg",
                    "description": "VID_20141102_215259.mp4",
                    "prod_year": "2014",
                    "trailer_id": "",
                    "price": "98",
                    "ulike": "0",
                    "unlike": "0",
                    "comment": "0",
                    "crew_category_list": [],
                    "genre_list": [],
                    "photo_list": [],
                    "related_list": [
                        {
                            "content_id": "466011598545541176b387",
                            "content_related_id": "466011598545541176b387",
                            "title": "HarisSeferovics.mp4",
                            "video_duration": "12",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=MNTMEDIA-1644031251545541173cf1b-HarisSeferovicsmp4.jpg"
                        },
                        {
                            "content_id": "19626953854553ce7a47cd",
                            "content_related_id": "19626953854553ce7a47cd",
                            "title": "RonaldosTraining.mp4",
                            "video_duration": "33",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=MNTMEDIA-62190385754553ce76afb0-RonaldosTrainingmp4.jpg"
                        },
                        {
                            "content_id": "4166137815455389094a90",
                            "content_related_id": "4166137815455389094a90",
                            "title": "test",
                            "video_duration": "15",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=MOVIEBAY-GudangGaram.jpg"
                        }
                    ]
                }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="channel_id" class="col-sm-2 control-label">channel_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="channel_id" id="channel_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="content_id" class="col-sm-2 control-label">content_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="content_id" id="content_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
//        $('#customer_id').val('<%=def_customer_id%>');
        $('#channel_id').val('1818248605541b9cbdc9041');
        $('#content_id').val('18984200335455009b97a6f');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>