<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">VOD Play</h2>
        <i>VOD Download</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/content_vodPlay.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/play/download</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>
                        <tr>
                            <td>channel_id</td>
                            <td>Channel ID(required)</td>
                        </tr>
                        <tr>
                            <td>content_id</td>
                            <td>Content ID(required)</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
            {
                "channel_id": "760896538533a70752ff46",
                "channel_name": "旅游视频",
                "alias": "旅游视频",
                "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=17996627525464785e3592b.png",
                "channel_type_id": 3,
                "status": "1",
                "vid_subs_appl": "RTMPVod",
                "msg_server_id": null,
                "msg_subs_appl": "RTMPMessage",
                "vid_subs_ip": "121.10.142.239",
                "content_list": [
                    {
                        "content_id": "11217330715464532d2dae7",
                        "auth": "1",
                        "product_code": "",
                        "price": "0",
                        "title": "内蒙行",
                        "video_duration": "803",
                        "filename": "---SEG_001",
                        "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=949491324546457fc22350.png",
                        "message": null,
                        "message_url": null,
                        "message_status": "0",
                        "channel_id": "760896538533a70752ff46",
                        "res_list": [
                            {
                                "res_id": "low",
                                "res_name": "Low",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/low/---SEG_001.mp4"
                            },
                            {
                                "res_id": "med",
                                "res_name": "Medium",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/med/---SEG_001.mp4"
                            },
                            {
                                "res_id": "high",
                                "res_name": "SD",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/high/---SEG_001.mp4"
                            },
                            {
                                "res_id": "hd",
                                "res_name": "HQ",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/hd/---SEG_001.mp4"
                            }
                        ],
                        "res_list_temp": [
                            {
                                "res_id": "low",
                                "res_name": "Low",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/low/iphone/---SEG_001.flv"
                            },
                            {
                                "res_id": "med",
                                "res_name": "Medium",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/med/iphone/---SEG_001.flv"
                            },
                            {
                                "res_id": "high",
                                "res_name": "SD",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/high/iphone/---SEG_001.flv"
                            },
                            {
                                "res_id": "hd",
                                "res_name": "HQ",
                                "available": 1,
                                "connection_url": "rtmp://121.10.142.239/RTMPVod",
                                "stream_name": "upload/hd/iphone/---SEG_001.flv"
                            }
                        ]
                    }
                ],
                "rcode": 1
            }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="channel_id" class="col-sm-2 control-label">channel_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="channel_id" id="channel_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="content_id" class="col-sm-2 control-label">content_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="content_id" id="content_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
//        $('#customer_id').val('<%=def_customer_id%>');
        $('#channel_id').val('-2');
        $('#content_id').val('466011598545541176b387');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>