@import url("utilities.css");

.header {
	position:absolute;
	z-index:1;
	padding:0;
	margin:0;
	width:100%;
	height:30px;
	background:#cecece;
	border-bottom:1px solid #FFF;
	/*color:#b01b36;*/
	font-size:12px;
}
.header img {margin:3px;}
.header p {margin-right:10px; margin-top:8px; font-weight:bold;}
.left_menu {	
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	z-index:1;
	width:240px;
	background:#b01b36;
	text-align:center;
	border-top:0px solid #580d1b;
	border-bottom:23px solid #580d1b;
	border-right:1px solid #580d1b;
	overflow:hidden;
}
#main_content {
	position:absolute;
	z-index:1;
	top:30px;
	left:241px;
	bottom:23px;
	right:0;
	overflow:auto;
	border-left:1px solid #FFF;		
}

.wrapper_scroll {
    position:absolute;
    width:100%;
}
.scroller {
	position:absolute; 
    z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

.footer {
	position:absolute;
	z-index:2;
	bottom:0;
	width:100%;
	text-align:right;
	padding:0;
	margin:0;
	background:#333;
	border-top:1px solid #ccc;
}
.footer p{
	margin:5px;
	color:#ccc;
}

/* menu */
#nav{
	position:relative;
	text-align:left;
}
#nav ul {
	margin:0;
	padding:0;
}
#nav li {
	list-style:none;
	margin:0;
}
#nav li a, #nav li div {
	display:block;
	color:#fff;
	font-weight:bold;
	padding: 10px;
	font-family: arial;
	font-size:11px;
	text-decoration:none;
	border-top:1px solid #c83953;
	border-bottom:1px solid #701022;
}
#nav li a:hover, #nav li.current a:hover {
	background-color:#333;
	border-top:1px solid #555;
	border-bottom:1px solid #000;
	color:#eee;
}
#nav li.current a{
	background-color:#333;
	border-top:1px solid #555;
	border-bottom:1px solid #000;
	color:#fff;
}
#nav li.current a:hover{
	background-color:#333;
}

#nav li.submenu a{
	text-indent:20px;
	font-style:normal;
	background:#c83751 url(../images/main/arrow.png) no-repeat 5px 48%;
	border-top:1px solid #c83953;
	border-bottom:1px solid #701022;
	
}
#nav li.submenu a:hover{
	background-color:#333;
	border-top:1px solid #555;
	border-bottom:1px solid #000;
}
#nav li.submenu.current a{
	text-indent:20px;
	font-style:italic;
	background:#333 url(../images/main/arrow.png) no-repeat 5px 48%;
	border-top:1px solid #555;
	border-bottom:1px solid #000;
}

.doc-header {margin-bottom:10px;}
.doc-header h2 {margin-bottom:2px;}
.doc-header .right{
	margin-right: 30px;
}
.doc-content{
    display:block; 
    clear:both;
}
.doc-content .title{
    float:left; 
    margin:1px; 
    width:20%;
    /*border-top: 1px solid rgba(255,255,255,.5);*/
    padding:5px;     
}
.doc-content .title:after{
	content: " :";
}
.doc-content .detail{
    float:left; 
    margin:1px; 
    width:75%;
    /*border-bottom: 1px solid #fff; */
    background-color: rgba(255,255,255,.5);
    padding:5px; 
}

.doc-content table{
    /*min-width:500px;*/
    width: 100%;
}
.doc-content table tr td:first-child{
    width:15%;
    wrap:nowrap;
    font-weight:bold;
}
.doc-content table tr td:last-child{
 font-style : italic;
}

input[type=text]{
	min-width: 200px;
	padding: 3px;
}
select{
	width: 210px;
}
.code{
	padding: 5px;
	margin-top: -2px;
	background: #ccc;
	border: 1px solid #666;
	white-space: pre-wrap;
	/*max-height: 400px;
	overflow-x: scroll;*/
}

textArea {
    width: 700px;
}