<div class="marg10 font_norm family">    
    <div class="doc-header">
        <h2 style="margin:0px">Content Detail</h2>
        <i>API function to get iBolz content detail</i>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/...</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">GET</div>
    </div>
    <div class="doc-content">
        <div class="title bold">Arguments</div>
        <div class="detail">
            <table border="0" cellpadding="2" cellspacing="1">
                <tbody>
                    <tr>
                        <td>app_id</td>
                        <td>is iBolz Application ID [Required]</td>
                    </tr>
                </tbody>
            </table>                
        </div>
    </div>           
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="5" cellspacing="1">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>is server message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">
        <div class="title bold">JSON Response</div>
        <div class="detail">       
            <pre>
{
    "rcode": 1,
    "items": [
        ...
    ]
}
            </pre>                 
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>">
                <table border="0" cellpadding="2" cellspacing="1">
                    <tbody>
                        <tr>
                            <td nowrap>app_id</td>
                            <td><input type="text" name="apps_id" id="apps_id" /></td>
                        </tr>
                    </tbody>
                </table>                        
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>
        </div>
    </div>   
</div>

<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#apps_id').val('<%=apps_id%>');
        // $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
        //     e.preventDefault();
        //     var $url = $('#api_url_<%=action_id%>').text();
        //     $url = $url.replace('$app_id', $('#apps_id').val());
        //     $.blockUI();
        //     $params = $('#form_<%=action_id%>').serializeArray();
        //     $.post($url, $params, function(jsonData){
        //         $('#test_<%=action_id%>').fadeIn();
        //         $('#test_<%=action_id%>').html( 
        //             'URL: ' + $url + '<br />Result:<br />' + JSON.stringify(jsonData, null, 4) 
        //         );                
        //         $.unblockUI();
        //     }, 'json').fail(function(err) {
        //         $('#test_<%=action_id%>').fadeIn();
        //         $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
        //         $.unblockUI();
        //     });
        // });
    });
</script>