<div class="marg10 font_norm family">
    <div class="doc-header">
        <h2 style="margin:10px 0px">Internal Application Programming Interface</h2>
        <i>API documentation page, a brief explanation on how to use the application data.</i>
    </div>
    <div class="doc-content">
        <div class="title bold">Application Name</div>
        <div class="detail"><%= MainApp.app_name %></div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Version</div>
        <div class="detail"><%= MainApp.app_version %></div>
    </div>        
    <div class="doc-content">
        <div class="title bold">Description</div>
        <div class="detail">
            An application programming interface (API) specifies how some software components should interact with each other.<br />            
        </div>
    </div>      
    <div class="doc-content">
        <br /><br />
    </div>      
</div>
