/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Label { 
	fontSize: 18;
	color: #9933FF;
}

s|TextInput {
	fontSize: 18;
}

s|TextArea {
	fontSize: 18;
}

s|RichText{
	fontSize: 18;
}

.title {
	color: red;
}


s|HSlider{
	skinClass:ClassReference("ibolz.component.skins.SliderSkin");
}

s|HScrollBar {
	skinClass:ClassReference("ibolz.component.skins.HScrollBarSkin");
}

s|VScrollBar {
	skinClass:ClassReference("ibolz.component.skins.VScrollBarSkin");
}

s|List s|HScrollBar {
	skinClass:ClassReference("ibolz.component.skins.HScrollBarSkin");
}

s|List s|VScrollBar {
	skinClass:ClassReference("ibolz.component.skins.VScrollBarSkin");
}