<!DOCTYPE html>
<!--
iBOLZ Army

iBOLZ Army Adminstration Tools

@author		Amrizal Sudartama. amrizal@ibolz.tv
@copyright 		@ibolz 2015
@version 		1.0

-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
