.timeline {
    /*background: rgba(255,255,255,0.5);*/
    padding: 0px 0px 20px 0px;
    height: 100%;
    width: 100%;
    /*margin: -10px 0px 0px 10px;    */
    /*margin: auto;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #666;*/   
}

.timeline .comment {
    overflow: hidden;
    padding: 0 0 1em;
    /*border-bottom: 1px solid #ddd;*/
/*    margin: 0 0 1em;*/
    margin-left: 0px;    
    *zoom: 1;
    width: 100%;    
    font-weight: lighter;
    font-family: "Helvetica Neue","Arial Rounded MT Bold",Helvetica,Arial,sans-serif;
}

.timeline .comment-img {
    float: left;
    margin-right: 20px;
    border-radius: 100%;
    overflow: hidden;
    width:50px;
    height:50px;
}

.timeline .comment-img img { display: block }

.timeline .comment-body { overflow: hidden; }

.timeline .comment .text {
    min-height: 1.2em;
	color: #fff;
    padding: 10px;
    border: 1px solid rgba(81, 196, 212, 1);
    border-radius: 5px;
    background: rgba(81, 196, 212, 1);
    font-size: 1em;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.timeline .comment .text p:last-child { margin: 0 }

.timeline .comment .attribution {
    margin: 0.5em 0 0;
    font-size: .8em;
    color: #666;
}

.timeline .comment .text .photo{
    border-radius: 10px;
    /*width: 100%;*/
    width: 100%;
    height: 200px;
    background: #eee;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Decoration */

.timeline .comments, .timeline .comment { position: relative }

.timeline .comments:before, .timeline .comment:before, .timeline .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 54px;
}

.timeline .comments:before {
    width: 2px;
    /*left: 105px;*/
    bottom: 0px;
    background: rgba(81, 196, 212, .5);
}

.timeline .comment:before {
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -4px;
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);*/
    background: #ccc;
}

/*.timeline .comment:hover, .timeline .comment:focus {
    cursor: cell; 
}*/

.timeline .comment:hover:before { background: #d77126 }

.timeline .comment .text:before {
    top: 16px;
    left: 66px;
    width: 9px;
    height: 9px;
    /*border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: rgba(81, 196, 212, 1);*/
    background: rgba(81, 196, 212, 1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}