/*
iBOLZ Admin

iBOLZ Adminstration Tools

@author		Amrizal Sudartama @ibolz 
@copyright 		@ibolz 2015
@license 		http://www.apache.org/licenses/LICENSE-2.0.html
@version 		2.0

*/
/* 
    Created on : Sep 23, 2015, 12:02:40 AM
    Author     : Amrizal Sudartama @ibolz
*/

.login-page {
    /*background: url(../img/login-background.png) no-repeat center top;*/
    background: url(../img/bg-admin-2.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    background-attachment: relative;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-box-body {
    background-color: rgba(0,0,0,0.5);
}

.login-logo a {
    color: #F3B552;
}

.login-box-body, .register-box-body {
    color: #FFF;
}