/*
iBOLZ Admin

iBOLZ Adminstration Tools

@author		Amrizal Sudartama @ibolz 
@copyright 		@ibolz 2015
@license 		http://www.apache.org/licenses/LICENSE-2.0.html
@version 		2.0

*/
/* 
    Created on : Sep 22, 2015, 6:42:19 PM
    Author     : Amrizal Sudartama @ibolz
*/


.sidebar-menu .treeview-menu {
    display: block;
}

.sidebar-menu > li {
    position: relative;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #2E3C42;
    border-bottom: 1px solid #1A2226;
}

.sidebar-menu .treeview-menu > li {
    margin: 0px;
    border-top: 1px solid #34454D;
    border-bottom: 1px solid #232D32;
}

.error-page > .headline {
    margin-top: 0px;
}