<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Group List</h2>
        <i>Group List</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/customer_groupList.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/customer/mygroup_list</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>customer_id</td>
                            <td>User's Customer ID (required)</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                    "group_list": [
                        {
                            "customer_category_id": "1007056481543ffe675b3ec",
                            "category_name": null,
                            "groups_name": null,
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "1413678809542267154d8bc",
                            "category_name": "louie University/History",
                            "groups_name": "louie University",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "516056931545f4b5677b10",
                            "category_name": "louie University/Math",
                            "groups_name": "louie University",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "20800969375424e577c614a",
                            "category_name": "louie University/体育系",
                            "groups_name": "louie University",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "16009286765422672b1acde",
                            "category_name": "louie University/外语学院",
                            "groups_name": "louie University",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "16748011805421150165b62",
                            "category_name": "testing by lyra/shinichi71",
                            "groups_name": "testing by lyra",
                            "selected": "1"
                        },
                        {
                            "customer_category_id": "17114664355455006ea6166",
                            "category_name": "University 1/History Lessons",
                            "groups_name": "University 1",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "1374609934544047d3da780",
                            "category_name": "University 1/Math Lessons",
                            "groups_name": "University 1",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "18984200335455009b97a6f",
                            "category_name": "University 1/Sports Lessons",
                            "groups_name": "University 1",
                            "selected": "1"
                        },
                        {
                            "customer_category_id": "2073775628542a48cfb88af",
                            "category_name": "中南大学/中南大學化學系同學",
                            "groups_name": "中南大学",
                            "selected": "1"
                        },
                        {
                            "customer_category_id": "7552283375436445da8a9c",
                            "category_name": "中山大学/英语",
                            "groups_name": "中山大学",
                            "selected": "1"
                        },
                        {
                            "customer_category_id": "21157010425434e8f034279",
                            "category_name": "中山大学/高数",
                            "groups_name": "中山大学",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "2007944624546445ace1bc4",
                            "category_name": "广州大学/TestCategory",
                            "groups_name": "广州大学",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "897205682545c7c8f50137",
                            "category_name": "校园点播/长沙师大附中一",
                            "groups_name": "校园点播",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "1046087671545c7a0a15931",
                            "category_name": "校园点播/雅礼中学",
                            "groups_name": "校园点播",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "1155225118545f47929b23f",
                            "category_name": "湖南大学/English",
                            "groups_name": "湖南大学",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "5702863835459bfffa0f9c",
                            "category_name": "湖南大学/math",
                            "groups_name": "湖南大学",
                            "selected": "0"
                        },
                        {
                            "customer_category_id": "1687870111545c7c85ccf57",
                            "category_name": "湖南大学/otherone",
                            "groups_name": "湖南大学",
                            "selected": "0"
                        }
                    ]
                }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="customer_id" class="col-sm-2 control-label">customer_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="customer_id" id="customer_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#customer_id').val('<%=def_customer_id%>');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>