<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Activity History</h2>
        <i>Activity History</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/customer_activityHistory.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/customer/customer_history</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>customer_id</td>
                            <td>User's Customer ID (required)</td>
                        </tr>    
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                    "history_list": [
                        {
                            "mobile_id": "c937f65fc1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "196162668752e2a712b82e6",
                            "content_title": "Daylight-Maroon5",
                            "res_name": "Medium",
                            "start_date": "2014-11-17 09:38:47",
                            "end_date": "2014-11-17 09:40:23",
                            "duration": "176.000000",
                            "channel_id": "760896538533a70752ff46",
                            "channel_alias": "旅游视频",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "191996491253feaf4742996",
                            "content_title": "Changing Batteries - The Saddest Story 3D Animation",
                            "res_name": "Medium",
                            "start_date": "2014-11-13 16:51:07",
                            "end_date": "2014-11-13 16:51:25",
                            "duration": "18.000000",
                            "channel_id": "931485092533a74a2c9a07",
                            "channel_alias": "VOD Movies",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "120966199153feae760d3dc",
                            "content_title": "CGI Animated Short HD- -Cupidon- from CUPIDON-LEFILM",
                            "res_name": "Medium",
                            "start_date": "2014-11-13 16:50:44",
                            "end_date": "2014-11-13 16:51:04",
                            "duration": "60.000000",
                            "channel_id": "931485092533a74a2c9a07",
                            "channel_alias": "VOD Movies",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "e41a5c68ea",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1369401894545f43a827f02",
                            "content_title": "初雪.MP4",
                            "res_name": "Medium",
                            "start_date": "2014-11-13 16:01:22",
                            "end_date": "2014-11-13 16:01:46",
                            "duration": "24.000000",
                            "channel_id": "760896538533a70752ff46",
                            "channel_alias": "点播音乐",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "e41a5c68ea",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1369401894545f43a827f02",
                            "content_title": "初雪.MP4",
                            "res_name": "Medium",
                            "start_date": "2014-11-13 16:00:54",
                            "end_date": "2014-11-13 16:01:11",
                            "duration": "57.000000",
                            "channel_id": "760896538533a70752ff46",
                            "channel_alias": "点播音乐",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "e41a5c68ea",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1144733254546182acab109",
                            "content_title": "爱的箴言 电视剧《相爱十年》主题曲.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-13 16:00:45",
                            "end_date": "2014-11-13 16:00:54",
                            "duration": "9.000000",
                            "channel_id": "760896538533a70752ff46",
                            "channel_alias": "点播音乐",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "5d13287811",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "4166137815455389094a90",
                            "content_title": "test",
                            "res_name": "Medium",
                            "start_date": "2014-11-12 12:11:45",
                            "end_date": "2014-11-12 12:11:59",
                            "duration": "14.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "5d13287811",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "4166137815455389094a90",
                            "content_title": "test",
                            "res_name": "Medium",
                            "start_date": "2014-11-12 12:11:33",
                            "end_date": "2014-11-12 12:11:45",
                            "duration": "12.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "19626953854553ce7a47cd",
                            "content_title": "RonaldosTraining.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-11 09:50:23",
                            "end_date": "2014-11-11 09:55:49",
                            "duration": "526.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "19626953854553ce7a47cd",
                            "content_title": "RonaldosTraining.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-11 09:49:55",
                            "end_date": "2014-11-11 09:50:13",
                            "duration": "58.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "808658960545db709379d5",
                            "content_title": "LM Test Video 1.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-10 13:44:53",
                            "end_date": "2014-11-10 13:50:13",
                            "duration": "560.000000",
                            "channel_id": "931485092533a74a2c9a07",
                            "channel_alias": "VOD Movies",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1290859507545dbea227b09",
                            "content_title": "LM Test WildLife",
                            "res_name": "HQ",
                            "start_date": "2014-11-10 11:47:31",
                            "end_date": "2014-11-10 11:48:39",
                            "duration": "108.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1290859507545dbea227b09",
                            "content_title": "LM Test WildLife",
                            "res_name": "HQ",
                            "start_date": "2014-11-10 11:47:18",
                            "end_date": "2014-11-10 11:47:31",
                            "duration": "13.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1290859507545dbea227b09",
                            "content_title": "LM Test WildLife",
                            "res_name": "SD",
                            "start_date": "2014-11-10 11:43:05",
                            "end_date": "2014-11-10 11:47:18",
                            "duration": "413.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1290859507545dbea227b09",
                            "content_title": "LM Test WildLife",
                            "res_name": "SD",
                            "start_date": "2014-11-10 11:42:29",
                            "end_date": "2014-11-10 11:43:05",
                            "duration": "76.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "1290859507545dbea227b09",
                            "content_title": "LM Test WildLife",
                            "res_name": "Medium",
                            "start_date": "2014-11-10 11:36:46",
                            "end_date": "2014-11-10 11:42:17",
                            "duration": "571.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "808658960545db709379d5",
                            "content_title": "LM Test Video 1.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-10 11:35:37",
                            "end_date": "2014-11-10 11:36:46",
                            "duration": "109.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "808658960545db709379d5",
                            "content_title": "LM Test Video 1.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-10 11:29:19",
                            "end_date": "2014-11-10 11:33:37",
                            "duration": "418.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "808658960545db709379d5",
                            "content_title": "LM Test Video 1.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-10 11:28:43",
                            "end_date": "2014-11-10 11:29:11",
                            "duration": "68.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        },
                        {
                            "mobile_id": "74be2b9af1",
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "customer_id": "140386916453f2f52ea4122",
                            "content_id": "808658960545db709379d5",
                            "content_title": "LM Test Video 1.mp4",
                            "res_name": "Medium",
                            "start_date": "2014-11-10 11:02:12",
                            "end_date": "2014-11-10 11:07:30",
                            "duration": "518.000000",
                            "channel_id": "-2",
                            "channel_alias": "Education Channel",
                            "channel_type_id": "3"
                        }
                    ]
                }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="customer_id" class="col-sm-2 control-label">customer_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="customer_id" id="customer_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#customer_id').val('<%=def_customer_id%>');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>