<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Login</h2>
        <i>Login ibolz user.</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/customer_login.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/customer/login</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>email</td>
                            <td>User's email address (required)</td>
                        </tr>
                        <tr>
                            <td>password</td>
                            <td>User's password (required)</td>
                        </tr>
                        <tr>
                            <td>bawel_login</td>
                            <td>Direct login to bawel</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                "mobile_id": "a4b8191b80",
                "customer_id": "140386916453f2f52ea4122",
                "email": "ichalzbreak@yahoo.com",
                "user_id": "ichalzbreak@yahoo.com",
                "first_name": "ichalzbreak",
                "last_name": "ichalzbreak",
                "display_name": "ichalzbreak",
                "status": "1",
                "verify_status": "0",
                "mobile_no": "+6281320622694",
                "credit_balance": "100568",
                "group_list": [
                    {
                        "customer_category_id": "516056931545f4b5677b10",
                        "category_name": "louie University/Math",
                        "groups_name": "louie University",
                        "selected": "0"
                    },
                    {
                        "customer_category_id": "2073775628542a48cfb88af",
                        "category_name": "中南大学/中南大學化學系同學",
                        "groups_name": "中南大学",
                        "selected": "1"
                    }
                ],
                "rcode": 1,
                "message": "Successfully Login"
            }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">email</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="email" id="email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">password</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="password" id="password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="bawel_login" class="col-sm-2 control-label">bawel_login</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="bawel_login" id="bawel_login" value="1" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    if (jsonData.rcode == 1) {
                        setCustomerID(jsonData.customer_id);
                    }
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>