<li><a href="#/device/">Device</a></div></li>
<li><a>Customer</a></li>
<li class="submenu"><a href="#/device/customer/register">Register</a></li>
<li class="submenu"><a href="#/device/customer/login">Login</a></li>
<li class="submenu"><a href="#/device/customer/userProfile">User Profile</a></li>
<li class="submenu"><a href="#/device/customer/updateProfile">Update Profile</a></li>
<li class="submenu"><a href="#/device/customer/changePassword">Change Password</a></li>
<li class="submenu"><a href="#/device/customer/forgotPassword">Forgot Password</a></li>
<li><a>Video and Profile Pict</a></li>
<li class="submenu"><a href="#/device/customer/myVideoList">My Video List</a></li>
<li class="submenu"><a href="#/device/customer/uploadVideo">Upload Video</a></li>
<li class="submenu"><a href="#/device/customer/uploadProfilePict">Upload Profile Pict</a></li>
<li class="submenu"><a href="#/device/customer/changePhotoProfile">Change Profile Pict</a></li>
<li><a>My Groups</a></li>
<li class="submenu"><a href="#/device/customer/groupList">Group List</a></li>
<li class="submenu"><a href="#/device/customer/groupJoin">Join Group</a></li>
<li class="submenu"><a href="#/device/customer/groupLeave">Leave Group</a></li>
<li><a>Activity and Transaction</a></li>
<li class="submenu"><a href="#/device/customer/historyActivity">Activity History</a></li>
<li class="submenu"><a href="#/device/customer/historyTransaction">Transaction History</a></li>
<li><a>Subscription</a></li>
<li class="submenu"><a href="#/device/customer/subscription">Subscription</a></li>
<li class="submenu"><a href="#/device/customer/subscriptionList">Subscription List</a></li>
<li class="submenu"><a href="#/device/customer/subscribe">Subscribe</a></li>
<li class="submenu"><a href="#/device/customer/unsubscribe">Subscribe</a></li>