<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">User's Video List</h2>
        <i>User's Video List</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/customer_myVideoList.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/customer/my_video_list</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>customer_id</td>
                            <td>User's Customer ID (required)</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                [
                    {
                        "content_id": "12853264225464629d4d1b6",
                        "title": "VID_20141102_215259.mp4",
                        "description": "VID_20141102_215259.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-9620728995464629c235c3-VID20141102215259mp4.jpg",
                        "category_name": null,
                        "prod_house_name": "User Content",
                        "duration": "12",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "336393",
                        "created": "2014-11-13 15:50:43",
                        "duration_text": "12 Sec ",
                        "created_time_text": "2014-11-13 15:50:43"
                    },
                    {
                        "content_id": "83998121954645814d0ab2",
                        "title": "VID_20141102_215259.mp4",
                        "description": "VID_20141102_215259.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-27592773354645813a2da1-VID20141102215259mp4.jpg",
                        "category_name": "Sports Lessons",
                        "prod_house_name": "User Content",
                        "duration": "12",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "339089",
                        "created": "2014-11-13 15:05:47",
                        "duration_text": "12 Sec ",
                        "created_time_text": "2014-11-13 15:05:47"
                    },
                    {
                        "content_id": "91278072954645326dab85",
                        "title": "VID_20141102_215259.mp4",
                        "description": "VID_20141102_215259.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-53376552154645325b6ee6-VID20141102215259mp4.jpg",
                        "category_name": "Sports Lessons",
                        "prod_house_name": "User Content",
                        "duration": "12",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "340351",
                        "created": "2014-11-13 14:44:45",
                        "duration_text": "12 Sec ",
                        "created_time_text": "2014-11-13 14:44:45"
                    },
                    {
                        "content_id": "3946408165461c817bd21e",
                        "title": "VID_20141102_215259.mp4",
                        "description": "VID_20141102_215259.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-2178075135461c81699e50-VID20141102215259mp4.jpg",
                        "category_name": "History Lessons",
                        "prod_house_name": "User Content",
                        "duration": "12",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "507023",
                        "created": "2014-11-11 16:26:53",
                        "duration_text": "12 Sec ",
                        "created_time_text": "2014-11-11 16:26:53"
                    },
                    {
                        "content_id": "7545649655456452370c70",
                        "title": "VID_20141102_215259.mp4",
                        "description": "VID_20141102_215259.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-1595677189545645224cbc4-VID20141102215259mp4.jpg",
                        "category_name": "Sports Lessons",
                        "prod_house_name": "User Content",
                        "duration": "12",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "1261446",
                        "created": "2014-11-02 22:53:10",
                        "duration_text": "12 Sec ",
                        "created_time_text": "2014-11-02 22:53:10"
                    },
                    {
                        "content_id": "161425878454564245a9202",
                        "title": "VID_20141017_065208.mp4",
                        "description": "VID_20141017_065208.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-7762680005456424543a88-VID20141017065208mp4.jpg",
                        "category_name": "Sports Lessons",
                        "prod_house_name": "User Content",
                        "duration": "3",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "1262180",
                        "created": "2014-11-02 22:40:56",
                        "duration_text": "3 Sec ",
                        "created_time_text": "2014-11-02 22:40:56"
                    },
                    {
                        "content_id": "7317947035455cf252d5ce",
                        "title": "VID_20141017_065208.mp4",
                        "description": "VID_20141017_065208.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-19900323505455cf24c052a-VID20141017065208mp4.jpg",
                        "category_name": null,
                        "prod_house_name": "User Content",
                        "duration": "3",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "1291652",
                        "created": "2014-11-02 14:29:44",
                        "duration_text": "3 Sec ",
                        "created_time_text": "2014-11-02 14:29:44"
                    },
                    {
                        "content_id": "194719186654554460d31b7",
                        "title": "HarisSeferovics.mp4",
                        "description": "HarisSeferovics.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-36489200854554460a63b1-HarisSeferovicsmp4.jpg",
                        "category_name": "Math Lessons",
                        "prod_house_name": "User Content",
                        "duration": "12",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "1327177",
                        "created": "2014-11-02 04:37:39",
                        "duration_text": "12 Sec ",
                        "created_time_text": "2014-11-02 04:37:39"
                    },
                    {
                        "content_id": "81868311354554372356e2",
                        "title": "HarisSeferovics.mp4",
                        "description": "HarisSeferovics.mp4",
                        "thumbnail": "http://china2.ibolz.tv/api/media/thumbnail_customer/MNTMEDIA-160994487254554372071d1-HarisSeferovicsmp4.jpg",
                        "category_name": "Math Lessons",
                        "prod_house_name": "User Content",
                        "duration": "12",
                        "status_name": "Archived",
                        "status": "0",
                        "created_time": "1327415",
                        "created": "2014-11-02 04:33:41",
                        "duration_text": "12 Sec ",
                        "created_time_text": "2014-11-02 04:33:41"
                    }
                ]
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="customer_id" class="col-sm-2 control-label">customer_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="customer_id" id="customer_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#customer_id').val('<%=def_customer_id%>');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>