<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Register</h2>
        <i>Register ibolz user.</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/device_customer_login.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/v2/customer/signup</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>email</td>
                            <td>User's email address (required)</td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>User's Full Name (required)</td>
                        </tr>              
                        <tr>
                            <td>mobile_no</td>
                            <td>Mobile No (required)</td>
                        </tr>
                        <tr>
                            <td>password</td>
                            <td>User's password (required)</td>
                        </tr>
                        <tr>
                            <td>bawel_login</td>
                            <td>Auto login to bawel(optional)</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
            {
                 "customer_id": "661134931546959c5ba693",
                 "mobile_id": "74be2b9af1",
                 "email": "ichalzbreak7@gmail.com",
                 "user_id": "ichalzbreak7@gmail.com",
                 "first_name": "Ichalzbreak7",
                 "last_name": "Ichalzbreak7",
                 "display_name": "Ichalzbreak7",
                 "status": "1",
                 "mobile_no": "+6281320622694",
                 "rcode": 1,
                 "message": "Check your email to verify",
                 "mailer": true
             }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">email</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="email" id="email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">name</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="name" id="name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile_no" class="col-sm-2 control-label">mobile_no</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="mobile_no" id="mobile_no" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">password</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="password" id="password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="bawel_login" class="col-sm-2 control-label">bawel_login</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="bawel_login" id="bawel_login" value="1" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    if (jsonData.rcode == 1) {
                        setCustomerID(jsonData.customer_id);
                    }
                    
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>