<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">User Profile</h2>
        <i>User Profile.</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/device_customer_userProfile.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/customer/profile</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>customer_id</td>
                            <td>User's Customer ID (required)</td>
                        </tr>    
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                    "mobile_id": "a4b8191b80",
                    "customer_id": "140386916453f2f52ea4122",
                    "email": "ichalzbreak@yahoo.com",
                    "user_id": "ichalzbreak@yahoo.com",
                    "first_name": "ichalzbreak",
                    "last_name": "ichalzbreak",
                    "filename": "17440567915462d3d83489b.jpg",
                    "thumbnail": "http://china2.ibolz.tv/media/thumbnail_customer?id=17440567915462d3d83489b.jpg",
                    "display_name": "ichalzbreak",
                    "status": "1",
                    "mobile_no": "+6281320622694",
                    "verify_status": "0",
                    "credit_balance": "100568",
                    "photo": [
                        {
                            "filename": "1311960456544dda51a1807.jpg",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail_customer?id=1311960456544dda51a1807.jpg"
                        },
                        {
                            "filename": "1549659254607f3796f45.jpg",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail_customer?id=1549659254607f3796f45.jpg"
                        },
                        {
                            "filename": "17440567915462d3d83489b.jpg",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail_customer?id=17440567915462d3d83489b.jpg"
                        }
                    ],
                    "rcode": 1,
                    "message": "Successfully get profile"
                }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="customer_id" class="col-sm-2 control-label">customer_id</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="customer_id" id="customer_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#customer_id').val('<%=def_customer_id%>');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>