body {
	/*background:#EDEEF0;*/
	background:#fff;
}

::selection {
	color:#fff;
	background:#c0392b;
}
::-moz-selection {
	color:#fff;
	background:#c0392b;
}
::-webkit-selection {
	color:#fff;
	background:#c0392b;
}


a:hover, a:focus {
	color:#c40016;

}

.search-full, .search-input { 
	background: #c0392b;
}

.search-close {
	color: #c0392b;
}


.btn-primary {
	background-color: #c40016;
	color: #FFFFFF;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background:  #2c88c5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #fa7163;
	border-color: #fa7163;
	color: #FFFFFF;
}

.navbar-top {
	background:transparent;	
}

.navbar-tshop {
	background:#c40016;	
}



.site-color {
	color:#c40016 !important;
}



.navbar-nav > li > a {
	color:#fff;
}

.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a  {
	background:#c0392b;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
	background:#c0392b;
}


.dropdown-menu.megamenu-dropdown-content {
	border: none;
	background-color: none;
	background-clip: none;
	border-radius: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.search-box:hover .form-control {
	background:#c40016;
}
.search-box:hover .btn-nobg { 
	color:#c40016;
}

.searchInputBox .search-btn {
	color:#fff;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background:rgba(231, 76, 60,0.7) !important;
}

.action-control a:hover, .action-control a.active {
	color:#fff;
	background:#c0392b;

}

.img-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.product {
	border-bottom: 1px solid #ddd;
}

.product .image {
	border-top: 10px  solid transparent;
	cursor: pointer;
	transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);		
}

.product .image:hover, .product .image.active {
	/*border: 1px  solid #c40016;*/
	/*border-bottom: 2px solid #c40016;*/
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);	
}


.product a:hover {
	color: #c40016;
}


.subCategoryList .thumbnail:hover  {
	 border: 1px solid #c40016;
}

.pager2 a, .pager_slider a {
    border: 1px solid #c40016;
	
}

.pager2 a.selected, .pager_slider a.selected{
	background:#c40016;
}

.btn-site, .newsLatterBox .btn {
	background: #c40016;
}

.btn-discover:hover, .btn-site:hover , .newsLatterBox .btn:hover {
	background: #c0392b;
}

.full {
	width:100%;
}

.footer a:hover {
	color:#c40016;
}

.footer {
	/*border-top: solid 3px #e74c3c;*/
}

.modal-header {
    background: #c40016;
}

.form-control:focus {
    border-color: #c40016;
}


.new-product {
	background:rgba(231, 76, 60, 0.95) !important;
}

#pager a.cycle-pager-active {
	background:rgba(231, 76, 60, 0.5);
}



/* tree menu */


.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a  {
	background:none;
	color:#2c3e50;
}

.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
	background:none;
	font-weight:bold;
	color:#2c3e50;
}


.panel-default > .panel-heading {
	
	
	border-top: 4px  solid #c40016;
	
	}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
	background:#BFC9CA;
}

.nav-tabs {
    border-bottom: 3px solid #BFC9CA;
}

.socialIcon a:hover {
	background:#c40016;
}

.cart-actions button, .cart-actions .wishlist {
	background: none repeat scroll 0 0 #c40016;
    border: 2px solid #c0392b;
}

.cart-actions button:hover {
	background:#fff;
	color:#2c3e50;
	border:solid 2px #c40016;
}


.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
	border: 2px solid #c40016 !important;
}



.promo-1 {
	 background: none repeat scroll 0 0 #c0392b;

}

 @media (max-width: 767px) {

	 .miniCartFooter {
		 background:#c0392b !important;
	 }
 }

#pager2 span.cycle-pager-active, .pager_slider span.cycle-pager-active {
}

#pager2 span.cycle-pager-active, .pager_slider span.cycle-pager-active  {
    background: #c0392b !important;
}

#pager2 span, .pager_slider span  {
    border: 2px solid #c0392b 
}

.orderStep li.active a {
    background: #c40016;
}

.orderStep li.active a:after {
	border-top-color: #c40016 !important;

}
.orderStep li a {
	background:  #2c88c5;
}


.darkcoilor {
	background:#2c88c5;
}

.citecolor {
	color:#c40016 !important;
}

.banner{
	background-color: #c40016;
	/*padding: 10px 20px 20px 20px;*/
	width: 100%!important;
	height: 430px;
}

.container {
	/*max-width: 960px;*/
}

.banner .container {
	width: 100%!important;
	padding: 0px!important;
}

.banner .slider-content{
	height: 420px;
}
