::selection {
	color:#fff;
	background:#c0392b;
}
::-moz-selection {
	color:#fff;
	background:#c0392b;
}
::-webkit-selection {
	color:#fff;
	background:#c0392b;
}

body{
	padding-top: 175px!important;
	background: #FFFFFF;
}

a:hover, a:focus {
	color:#c40016;
}

.navbar-ibolz{
	background: #c40016 url(../img/bg-top-header.png) top left repeat;
	max-height: 100px;
	width: 100%;
	margin-bottom: 0px;	
}

.navbar-ibolz .container{
	background: url(../img/mb-logo-trans.png) top left no-repeat;	
}

.navbar-ibolz .container .row{
	padding: 0px 0px 0px 0px!important;	
	margin: 0px 0px 0px 0px!important;	
}

.navbar-ibolz .navbar-top{
	padding: 0px 10px 0px 0px!important;	
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

ul.userMenu {
	margin-top: 3px;
}

.userMenu li {
	display: block;
	/*float: left;*/
	margin-right: 1px;
	/*border: 1px solid rgba(255,255,255,.5);*/
	/*border-radius: 3px;*/
	/*border-top: 1px solid rgba(255,255,255,.8);*/
	/*border-left: 1px solid rgba(255,255,255,.8);*/
}
.userMenu li > a {	
	color: #EEE;
	display: block;
	font-style: normal!important;
	font-size: 12px;
	line-height: 28px;
	padding: 0 10px 0 10px;
}
.userMenu li > a:hover {
	color: #FFFFFF;
	background-color: rgba(50,50,50,.2);
}

ul.navbar-nav{
	margin-top: 20px;
}
.navbar-nav > li > a {
	color: #FFFFFF;
	font-size: 14px;
	/*text-transform: uppercase;*/

	font-family: helvetica, monospace;
	font-style: normal;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus,
.open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: rgba(50,50,50,.2);
}


.navbar-nav .dropdown-menu {
	background-color: rgba(192,57,43,.8);
	color: #fff;
	padding: 0px!important;
	margin: 0px!important;
}

.navbar-nav .dropdown-menu li{
	border-bottom: 1px solid rgba(255,255,255,.1);
	padding: 0px 0px 0px 0px;
	min-width: 180px;	
}


.navbar-nav .dropdown-menu li a{
	color: #EEE;
	padding: 10px 10px 10px 10px;
	/*float: right;*/
	font-family: helvetica, monospace;
	display: block;
}

.navbar-nav .dropdown-menu li a:hover{
	color: #FFF;	
	background-color: rgba(50,50,50,.2);
	/*background-color: transparent;*/
}

/* SIDE MENUS */
.navbar-toggle {
	background: rgba(0,0,0,0.2);
	color: #fff;
}
.navbar-toggle:hover{
	background: rgba(0,0,0,0.5);
	color: #fff;
}
.aside-menu-in .wrapper {
    left: -280px;
}
.wrapper {
    position: relative;
    left: 0;
    -webkit-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
    -moz-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
    -o-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
    transition: all 300ms cubic-bezier(.25, .46, .45, .94);
    -webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    -moz-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    -o-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}
.aside-menu {
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    background: #555555;
    border-left: 1px solid #333;
    display: none;
}

.aside-menu::-webkit-scrollbar {
    display: none !importat;
    width: 0 !important;
}

.side-section-title {
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 14x;
    text-transform: uppercase;
    color: #FFF;
}
.side-section-title:after {
    content: "";
    height: 1px;
    /*background: #333;*/
    width: 80px;
    position: absolute;
    top: 26px;
    left: 15px;
}
.aside-menu .nav{
	margin-left: 20px;
}
.aside-menu a{
	color: #EEEEEE;
	display: block;
}


.aside-menu .nav ul li ul{
	padding-left: 20px;
}

.aside-menu .nav ul li ul li{
	border-bottom: 1px solid rgba(255,255,255,.2);
	padding: 5px 5px;
}

.aside-menu .nav ul li ul li:hover{
	background: rgba(255,255,255,.2);
}



/*.navbar-ibolz > .container > .row{
	background: url(../img/moviebay.png) top left no-repeat;	
}*/
.top-logo{
	/*background: url(../img/moviebay.png) top left no-repeat;	*/
	width: 180px;
	height: 100px;
	/*float: left;*/
}

.container{
	width: 100%!important;
	max-width: 1200px;
	/*
	width: 100%!important;
	max-width: 100%!important;	
	padding: 0px 35px 0px 35px;*/


}

.main-container{
	padding: 0px 25px 0px 25px!important;	
}

/*BANNER*/
.banner{
	background-color: #c40016;
	width: 100%!important;
	margin-top: -75px!important;
	/*height: 430px;*/	
}

.banner .container {
	padding: 0px 0px 10px 0px!important;	
}

.banner .slider-content{
	/*max-height: 420px;*/
}

.banner .slider-content .slider-item >img{
	/*max-height: 420px!important;*/
	min-height: 220px!important;
	width: 100%;
}

.pager_slider span {
    border: 2px solid #c40016;	    
}

.pager_slider span.cycle-pager-active{
	background: #c40016!important;
}

.banner .sliderControl{
	color: #DDDDDD;
	font-size: 34px;
	background: transparent!important;
}

.banner .sliderControl:hover{
	color: #FFFFFF;
	background: rgba(225, 225, 225, .2)!important;
}

.breadcrumbDiv{
	min-height: 45px!important;
	max-height: 45px!important;
}

.breadcrumbDiv .container{
	padding: 0px 40px 0px 40px;
}

.breadcrumb {
	border: none;
	background: none;
	/*padding: 15px 15px;*/
	margin-bottom: 0px;
	text-transform: uppercase;
	color: #444;
}

.breadcrumb-fixed-top{
	position:fixed;
	z-index: 999;
	top: 100px;
}

.modal-dialog .page-header{
	margin-top: 0px;
}
.cart-dialog .modal-dialog{
   width: 800px!important;
   max-width: 800px;
}


/* RESPONSIVE */
@media (max-width: 768px) {	
	body{
		padding-top: 62px!important;
	}
	.navbar-ibolz{
		max-height: 62px;
	}	
	.navbar-ibolz .container{
		background-size: auto 62px;
	}	
	.banner{
		margin-top: -35px!important;
	}
}