.product_panel{
    /*border: 1px #eee dashed;*/
    padding: 1px 1px!important;
    margin: 0px 0px 15px 0px;
    min-height: 420px;    
}

.product_panel .title{
    color: #999;
    font-size: 18px;
}

.product_panel dt{
    text-align: left;
    text-transform: uppercase;
    width: 120px;
    margin-bottom: 5px;    
    font-size: 14px;
}
.product_panel dt:after{
    content: ': ';
}
.product_panel dd{
    margin-left: 120px;
    margin-bottom: 5px;
    font-size: 14px;
}
.product_panel dd a{
	background: rgba(231, 76, 60, 0.05);
	border-bottom: 1px solid transparent;
	padding: 0px 2px;
}
.product_panel dd a:hover{
	border-bottom: 1px solid rgba(231, 76, 60, 0.2);
}

.product_panel dd.desc{
    margin-left: 0px;
    text-align: justify;
}

.product_panel .box-panel{
    border-bottom: 2px #DDD solid;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.product_panel .bgfull{
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}
.product_panel .poster{
    height: 480px;
    background-color: rgba(50, 50, 50, .02);
    border-radius: 2px;
    border: 1px solid rgba(50, 50, 50, .03);
    margin-right: 20px;
}
.product_panel .poster > .bgfull{
    height: inherit;
}

.product_panel .item{
    padding: 0px 0px 0px 1px;
}


.product_panel .thumb{
    height: 100px;
    /*border: 1px solid #fff;*/
    border: 1px solid rgba(50, 50, 50, .1);
    cursor: pointer;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;        
}

.product_panel .thumb:hover, .product_panel .related:hover{
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);	
}

.product_panel .player{
    height: 420px;        
    width: 800px;
    border: 1px solid rgba(50, 50, 50, .1);
}

.product_panel .trailer{
    height: 180px;
    border: 1px solid #fff;
}

.product_panel .related{
    height: 240px;      
    border: 1px solid #fff;
    cursor: pointer;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;        	
}

.product_panel .related.potrait{
    height: 240px!important;   
}

.product_panel .related.landscape{
    height: 100px!important;   
}

.product_panel .related.bgfull{
    /*background-size: auto 100%;*/
    /*background-position: 0px 30px;*/
}

.product_panel .item .product_title{
    background: rgba(0, 0, 0, 0);
    color: #555;    
    padding: 5px 5px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.product_panel .item .product_title i{
    font-size: 16px;
    padding: 5px 10px;
    background-color: #eee;
    color: #000;
}

.product_panel .carousel-nav{
    position: absolute;
    top: 35%;
    color: rgba(50, 50, 50, .2);
    z-index: 99;    
}

.product_panel .carousel-nav i{
    font-size: 3em;
    font-weight: lighter;
}

.product_panel .social{
    font-size: 1.5em;
}

.product_panel .carousel-nav.prevContent{
    left: -37px;
}

.product_panel .carousel-nav.nextContent{
    right: -28px;
}

.product_panel .overlay-top{
	/*background: rgba(0, 0, 0, .5);
	color: #ffffff;*/

	background: rgba(0, 0, 0, 0);
	color: #000;    
	padding: 5px 5px;
    font-size: 18px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	left: 1px;
	right: 1px;
}

.overlay-top a{
	color: #555;
}

.product_panel .overlay-bottom{
	/*background: rgba(0, 0, 0, .5);
	color: #ffffff;*/
	background: #DDDDDD;
	color: #000;
	padding: 5px 5px;
	font-weight: normal;
	/*position: absolute;
	bottom:0px;
	left: 1px;
	right: 1px;	*/
}

.overlay-bottom a{
	color: #555;
}

.overlay-top a:hover, .overlay-bottom a:hover{
	color: rgba(231, 76, 60, .8);
}