.product_panel{
    /*border: 1px #eee dashed;*/
    padding: 1px 1px!important;
    margin: 0px 0px 15px 0px;
    min-height: 420px;    
}

.product_panel .title{
    color: #999;
    font-size: 18px;
}

.product_panel dt{
    text-align: left;
    text-transform: uppercase;
    width: 120px;
    margin-bottom: 5px;    
    font-size: 14px;
}
.product_panel dt:after{
    content: ': ';
}
.product_panel dd{
    margin-left: 120px;
    margin-bottom: 5px;
    font-size: 14px;
}
.product_panel dd a{
	background: rgba(231, 76, 60, 0.05);
	border-bottom: 1px solid transparent;
	padding: 0px 2px;
}
.product_panel dd a:hover{
	border-bottom: 1px solid rgba(231, 76, 60, 0.2);
}

.product_panel dd.desc{
    margin-left: 0px;
    text-align: justify;
}

.product_panel .box-panel{
    border-bottom: 2px #DDD solid;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.product_panel .bgfull{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.channel .bgfull{
    background-size: contain;
}

.product_panel .poster{
    background-color: rgba(50, 50, 50, .02);
    border-radius: 2px;
    border: 1px solid rgba(50, 50, 50, .03);
    margin-right: 0px;

    min-height: 420px;
    /*min-width: 280px;*/
    height: 100%;
    width: 100%;
}

.product_panel .content-item{
    min-height: 420px;
    height: 420px;
}

.product_panel .row-item{
    position:absolute;
    bottom:-10px;
    width:100%;
}

.product_panel .poster > .bgfull{
    height: inherit;
}


.product_panel .item{
    padding: 0px 0px 0px 5px;
}

.product_panel .thumb{
	  width: 128px;
    height: 128px;
    /*border: 1px solid #fff;*/
    border: 1px solid rgba(50, 50, 50, .1);
    cursor: pointer;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;        
}

.product_panel .thumb:hover, .product_panel .related:hover{
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);	
}

.product_panel .player{
    height: 420px;        
    width: 800px;
    border: 1px solid rgba(50, 50, 50, .1);
    overflow-x: hidden;
    overflow-y: hidden;
}

.product_panel .trailer{
    height: 180px;
    border: 1px solid #fff;
}

.product_panel .related{
    min-height: 200px;
    width : 155px;
    height: 221px !important;
    /* border: 1px solid #fff; */
    cursor: pointer;
    margin-top:-1px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;        	
}

/*.product_panel.grid .item{*/
    /*width: 160px;*/
    /*height: 240px;*/
    /*min-height: 213px;*/
/*}*/
/*.product_panel.grid .related{*/
    /*width: 160px;*/
    /*height: 213px;*/
/*}*/

.product_panel .related.bgfull{
    /*background-size: auto 100%;*/
    /*background-position: 0px 30px;*/
}

.product_panel .item .product_title{
    /*background: rgba(0, 0, 0, 0);
    color: #555;    
    padding: 5px 5px; */
    background-color: #cecece;
    color: #555555;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
}

.product_panel .item .product_title i{
    font-size: 16px;
    padding: 5px 10px;
    background-color: #eee;
    color: #000;
}

.product_panel .carousel-nav{
    position: absolute;
    top: 35%;
    color: rgba(50, 50, 50, .2);
    z-index: 99;    
}

.product_panel .carousel-nav i{
    font-size: 3em;
    font-weight: lighter;
}

.product_panel div.social{
    padding-left: 0px!important;
    text-align: center;
}

.product_panel i{
    font-size: 1.3em;
}

.product_panel .content_slider{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.product_panel .overlay-top{
	/*background: rgba(0, 0, 0, .5);
	color: #ffffff;*/
	background: rgba(0, 0, 0, 0);
	color: #000;    
	padding: 5px 5px;
    font-size: 18px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	left: 1px;
	right: 1px;
}

.overlay-top a{
	color: #555;
}

.product_panel .overlay-bottom{
	/*background: rgba(0, 0, 0, .5);
	color: #ffffff;*/
	background: #DDDDDD;
	color: #000;
	padding: 5px 5px;
	font-weight: normal;
	/*position: absolute;
	bottom:0px;
	left: 1px;
	right: 1px;	*/
}

.overlay-bottom a{
	color: #555;
}

.overlay-top a:hover, .overlay-bottom a:hover{
	color: rgba(231, 76, 60, .8);
}

/* modified style by root categories */
/*
.tv-series .content-item,
.tv-series .poster{
    max-height: 320px;
    height: 320px;
}

.tv-series .related{
    min-height: 100px !important;
    height: auto !important;
}
*/
.item {width:155px; padding: 5px; margin: 10px;}
.product_title {width: 155px; font-size: 12px;}

.product_panel.grid.channel {height: 169px !important; }
.channel .item {width:300px; padding: 5px; margin: 10px;}
.channel .product_title {display:none;} 
.channel .bgfull {border: 1px solid #9e9696; border-radius: 10px; box-shadow: 5px 5px #cecece; height: 169px !important; width: 300px;}
.schedule td {font-family: "Harbara Mais", Helvetica, Arial; font-size: 14px; line-height: 30px; padding: 2px; color: #888888; border-bottom: dashed 1px #cecece;}


/*
.indonesian-movies .item {width:155px; padding: 5px; margin: 10px;}
.indonesian-movies .product_title {width: 155px; font-size: 12px;}
.indonesian-movies .bgfull {height: 221px !important; width: 155px;}
*/

#Channel {}
#Channel .poster {border: 1px solid #9e9696; border-radius: 10px; box-shadow: 5px 5px #cecece; height: 100% !important; width: 100%;}
#Channel .toprating {border: 1px solid #fff;height: 128px;margin: 3px;width: 128px;}
/*
#Channel .toprating li.imgrating {float: left;margin: 0; vertical-align: top;}
#Channel .toprating li.imgrating img {width: auto; height: 95px;  padding: 2px !important;}
*/
#Channel .nav-tabs a{color: #bfc9ca; font-family: harabara mais,helvetica,arial; font-size: 12px; text-align: center;}
#Channel .schedule-rec td {font-family: "Harbara Mais", Helvetica, Arial; font-size: 12px; line-height: 18px; padding: 2px; color: #888888; }	
	
/* RESPONSIVE */
@media (max-width: 768px) { 
    .product_panel .poster{
        max-width: 320px;
        height: auto;
    }

    .product_panel .content-item{
        height: 100%;
    }

    .product_panel .row-item{
        height: 100%;
        position: relative;
    }
}