@CHARSET "ISO-8859-1";

/*
 * HTML5 Reset
 * ------------------------------------------------
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: baseline;
    background: transparent;
    font-family : "Helvetica",Arial,sans-serif;
}

article, aside, figure, footer, header, hgroup, nav,section { display: block; }
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img, object, embed { max-width: 100%; }
/* force a vertical scrollbar to prevent a jumpy page */
html { overflow-y: scroll; overflow-x: hidden;}
/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */


ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title],
dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td { font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input,
select {vertical-align: middle;}
pre { white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select,
input,
textarea { font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}

/* Accessible focus treatment people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active { outline: none;}
small { font-size: 85%;}
strong,
th { font-weight: bold;}
td,
td img {vertical-align: top;}
/* Make sure sup and sub don't screw with your line-heights gist.github.com/413930 */
sub,
sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {font-family: monospace, sans-serif;}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button { cursor: pointer;}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea { margin: 0;}
/* make buttons play nice in IE */
button { width: auto; overflow: visible;}

/* ============== Starting CSS for Ibolz China =================== */

@media (max-width: 1200px)
{
    body {padding-right: 0px;padding-left: 0px;}
}

.clear {clear:both;}
.breadcrumb > li {text-shadow: none !important;font-size: 14px !important;margin:0 5px !important;}
.breadcrumb li a {color:#ffffff !important;}
.header-wrapper {top:0;margin: 0 auto;height:auto;width:100%;position:fixed;/*background-color:#FFA814;*/padding-bottom: 5px;z-index: 1000;}

header {background-color: #FFA814; background: -webkit-linear-gradient(left, #FFD58D , #FFA814); /* For Safari 5.1 to 6.0 */}
header .nav-section {height:100px;}
header .nav-section .bni-logo {float:left;width:20%;height:75px;margin-top:5px;margin-left:75px;}
header .nav-section .bni-logo .top-logo {height:85px;cursor: pointer;text-decoration: none;}
header .nav-section .bni-menu {float:left;width:50%;height:75px;margin-top:20px;margin-right:10px;}
header .nav-section .bni-logo46 {float:right;width:17%;height:55px;margin-top:20px;margin-right:85px;}

header .top-menu {height:30px;}
header .top-menu .nav {margin-bottom: 2px !important;}
header .top-menu .nav li {display: block;float: left;font-family: helvetica, arial; font-style: normal;}
header .top-menu .nav li a {cursor: pointer; display: block; font-size: 12px; height: 27px;text-align: center; text-decoration: none;color: #ffffff;}
header .top-menu .nav .nav-cart {width: 25px; height:27px;color:#ffffff;}
header .top-menu .nav .nav-login {width: 50px; height:27px;color:#ffffff;}
header .top-menu .nav .nav-signup {width: 50px; height:27px;color:#ffffff;}
header .top-menu .nav .nav-cart a:hover {background-color: #ffbe48;border-radius: 4px;}
header .top-menu .nav .nav-login a:hover {background-color: #ffbe48;border-radius: 4px;}
header .top-menu .nav .nav-signup a:hover {background-color: #ffbe48;border-radius: 4px;}
header .top-menu .nav li a:hover {color: #FF0000;}

header .ibolz-menu {height:30px;margin-top:35px;}
header .ibolz-menu .nav {margin-bottom: 2px !important;}
header .ibolz-menu .nav li {display: block;float:left;font-family: helvetica, arial; font-style: normal;margin:4px;}
header .ibolz-menu .nav li a {cursor: pointer; width:auto;padding-left:2px;padding-right:2px;display: block; font-size: 14px; height: 27px;
    text-decoration: none;color: #ffffff;}
header .ibolz-menu .nav li a:hover {color: #FF0000;background-color: #ffbe48;/*border-radius: 4px;*/}
header .ibolz-menu .nav .nav-ibolz {width: auto; margin-left:5px;height:27px;color:  #ffffff;}
header .ibolz-menu .nav .nav-ibolz a:hover {background-color: #ffbe48;/*border-radius: 4px;*/}
header .ibolz-menu .dropdown-menu li {display: block;float:none;font-family: helvetica, arial; font-style: normal;}
header .ibolz-menu .dropdown-menu li a {cursor: pointer; display: block; font-size: 14px; height: 20px;text-decoration: none;color: #ffffff;background-color: #ffbe48 !important;}
header .ibolz-menu .dropdown-menu li a:hover {color: #FF0000;background:none;background-color: #ffbe48 !important;}
.dropdown-menu {background-color: #ffbe48 !important;opacity: 0.8;}
.full-container {margin: 0 auto;height:auto;width:100%;display: block;}
.fixed-container {margin-top:105px;}
#slideheadline { width:auto; height: 400px;}
.slideimg { background-position: center top; background-repeat: no-repeat; width:100%; height:400px; position:relative;}
#slideheadline .carousel-indicators {top: 365px !important;}
#slideheadline .carousel-indicators li {width: 25px; height: 25px; border-radius: 25px; -moz-border-radius:25px;-webkit-border-radius: 25px; -border-radius: 25px;
    border:2px #fff solid; background-color:#CEC0C0;opacity: 0.5}
#slideheadline .carousel-indicators li:hover {background-color: #00525D;}
#slideheadline .carousel-indicators .active {background-color: #00525D; }
.search-wrapper {height:40px;width:100%;background-color: #B3E2DA;}
.breadcrumb {background-color: #B3E2DA !important;margin: 0 75px 5px !important;float:left;}
.search-form {background-color: #B3E2DA !important;float:left;margin-right: 120px}
.fa-lg {font-size: 20px !important;}
footer {margin-top:50px;background-color:#00525D;height:100px;}
footer .top-pad {height:30px; overflow:hidden; clear:both;}

footer .contact {text-align:center;margin-top:30px;margin-bottom:30px;}
footer .contact .weibo {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .weibo:hover {opacity: 1;}
footer .contact .qq {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .qq:hover {opacity: 1;}
footer .contact .weixin {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .weixin:hover {opacity: 1;}
footer .contact .baidu {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .baidu:hover {opacity: 1;}
footer .contact .tudou {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .tudou:hover {opacity: 1;}

footer .other-link {text-align:center;margin-bottom:10px;clear:both;}
footer .other-link a {font-family:helvetica, arial, sans-serif;font-size:14px;font-weight:bold;color:#ffffff;text-decoration: none;}
footer .other-link a:hover {color:#FFAC1F;}
footer .belongs {text-align:center;font-size:11px;color:#ffffff;font-family:helvetica, arial, sans-serif;margin-bottom: 20px;}

#section-slider {margin-left:10px;height: 470px;}
#section-home-content {margin-left:10px;margin-bottom:50px;height:auto;/*height: 240px;*/}

.slider-title {font-family: Helvetica, arial, sans-serif; line-height: 36px;margin: 5px 0 5px 0px;padding: 0px 10px 0px 0px;}
.slider-title span {font-size: 26px !important;color: #999;display: inline-block;padding: 5px 5px 5px 0px;text-transform: uppercase;width: auto;font-weight: normal;}
.slider-title i {color: #999;font-size: 22px;}

.section-content-info {height: 150px;padding:10px;}
.section-content-info .poster {float: left;margin-left: 10px;}
.section-content-info .poster-info {float: left;}

.section-slider-content {}
.section-template {width: 100%;height: auto;}
.section-template .bgfull {background-position: center center !important; background-repeat: no-repeat !important; background-size: cover !important;}
.section-content-poster {float: left;width: 25%;}
.section-content-slider {float: left;width: 75%;}
.section-home-slider {width: 100%;}
.row {margin-left: -5px !important;}

.home-slider {height: 178px;overflow: hidden;position: relative;width: auto;}
.home-slider .content-item {float:left;width:189px;height:159px;border-right: solid 1px #ffffff; border-left: solid 1px #ffffff;opacity: 0.8;cursor: pointer;
    -webkit-transition: 0.6s ease-in-out left;-moz-transition: 0.6s ease-in-out left;-o-transition: 0.6s ease-in-out left;transition: 0.6s ease-in-out left;opacity: 1;}
.home-slider .content-item:hover {opacity: 0.8;}
.home-slider .content-item .slider-latest {height:200px;height:136px;overflow: hidden;background: #000000;text-align: center;}
.home-slider .content-item .slider-latest img {width:128px;height:auto;min-height:128px;}
.home-slider .lates-overlay {width: 189px;height: 30px;margin-top: -7px;background-color:#616161;}
.home-slider .ico-play-head {background-color: #000000; height: 28px; width: 28px;position: absolute;
    background: url("../images/asset__movie_play_header.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);top:105px;margin-left:-195px;
    display: inline-block; text-decoration: none;}
.home-slider .overlay-text {padding: 8px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}

.bg-loader {
    background: url(../images/storing_animation.gif) center center no-repeat;/* prealoder */
}
.home-content {height: 530px;width: 960px; padding-bottom: 10px;}
.home-content .poster-content {height:400px;}
.home-content .content-item {height:400px;}
.home-content .site-color {font-family: helvetica, arial, sans-serif; font-size: 28px; height:90px;font-weight: bold;line-height: 30px;color: #E85F3F;}

.content-info {height: 100px;}
.content-info h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;line-height: 11px;}
.content-info p {font-family: helvetica, arial, sans-serif; font-size: 12px;line-height: 12px;}
.content-info .dl-horizontal dt {text-align: left;font-size: 14px;}

.bnicontent-detail {width: 960px; padding-bottom: 10px;}
.bnicontent-detail h3 {font-family: helvetica, arial, sans-serif; font-size: 22px; color: #B9B9B9;font-weight: normal;}
.bnicontent-detail h4 {font-family: helvetica, arial, sans-serif; font-size: 20px; color: #F86728;font-weight: normal;text-transform: uppercase;}
.bnicontent-detail .item-sec {border-bottom: solid 2px #cecece;padding-bottom: 10px;}
.bnicontent-detail .sessions {width: 100%;height: auto;}
.bnicontent-detail .sessions ul {margin: 0; padding: 0; list-style: none;}
.bnicontent-detail .sessions li {float: left; cursor: pointer; margin: 2px; vertical-align: top;}
.bnicontent-detail .sessions li img {width: 200px; height: 115px;  padding: 2px !important;}
.bnicontent-detail .sessions li div {width: 200px; height: 115px;  padding: 2px !important;background-color: #ffffff;}
.bnicontent-detail .content-info {height: 100px;}
.bnicontent-detail .content-info h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;line-height: 11px;color: #242424;}
.bnicontent-detail .content-info p {font-family: helvetica, arial, sans-serif; font-size: 12px;line-height: 12px;}
.bnicontent-detail .content-info .dl-horizontal dt {text-align: left;font-size: 14px;}


/*
.home-content {height: auto;width: auto; overflow: hidden;position: relative;padding-bottom: 10px;padding-left: 25px;padding-right: 20px;}
.home-content .content-item {float:left;width:189px;height:159px;opacity: 0.8;cursor: pointer;margin:10px;
    -webkit-transition: 0.6s ease-in-out left;-moz-transition: 0.6s ease-in-out left;-o-transition: 0.6s ease-in-out left;transition: 0.6s ease-in-out left;opacity: 1;}
.home-content .content-item:hover {opacity: 0.8;}
.home-content .content-item .slider-latest {height:200px;height:109px;overflow: hidden;padding:5px;background: #000000;text-align: center;}
.home-content .content-item .slider-latest img {width:190px;height:auto;max-height:102px;}
.home-content .lates-overlay {width: 189px;height: 30px;margin-top: -7px;background-color:#616161;}
.home-content .ico-play-head {background-color: #000000; height: 28px; width: 28px;position: absolute;
    background: url("../images/asset__movie_play_header.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);top:105px;margin-left:-195px;
    display: inline-block; text-decoration: none;}
.home-content .overlay-text {padding: 8px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}
*/
.panelslider {height: 250px;overflow: hidden;position: relative;width: auto;}
.panelslider .content-item {float:left;height:230px;cursor: pointer;margin-right: 20px;}
.panelslider .content-item .product-title {height: 20px;padding: 10px;background-color: #CFEEF1;}
.panelslider .content-item .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
.panelslider .content-item .product-image {height:230px;width:175px; overflow: hidden;background: #000000;}
.panelslider .content-item .product-image img {width:175px;height:auto;min-height:136px;}
.panelslider .lates-overlay {width: 200px;height: 30px;margin-top: -7px;background-color:#616161;}
.panelslider .ico-play-head {background-color: #000000; height: 28px; width: 28px;position: absolute;
    background: url("../images/asset__movie_play_header.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);top:105px;margin-left:-195px;
    display: inline-block; text-decoration: none;}
.panelslider .overlay-text {padding: 8px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}

.carousel-control {border: none !important;border-radius: 0 !important; height: 100% !important;}
#movie_caro_left {background: url("../images/asset__arrow_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);margin-top: -30px;position: absolute;z-index: 100;left: 0px;}
#movie_caro_right {background: url("../images/asset__arrow_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);margin-top: -30px;position: absolute;z-index: 100;right: 55px;}

#vod-list ul, ol {margin:0 0 10px 10px !important;}
#vod-list .item-movie {float: left; margin: 10px; padding:5px;vertical-align: top;width: 185px;height: 155px;border: 1px solid #9e9696;;text-align: center;
    box-shadow: 2px 2px #cecece;background-color: #000000;}
#vod-list .item-movie img {width: 185px; height: 113px; }
#vod-list .item-movie p {width: 185px;padding: 2px !important;font-size: 10px;height: auto;line-height: 12px;}
#vod-list .item-movie .movie-overlay {width: 185px;height: 30px;margin-top: 0px;background-color:#616161;}
#vod-list .item-movie .overlay-text {padding: 8px;margin-top:10px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}


.player-place {width: 100%; height: auto;background-color: #000000;}
.player{height: 400px;width: 620px;border: 1px solid rgba(50, 50, 50, .1);overflow-x: hidden;overflow-y: hidden;margin-left:10px;z-index: -1000;}
#section-movie-detail {padding:10px;}
#section-movie-detail h3 {font-family: helvetica, arial, sans-serif; font-size: 20px; font-weight: bold;margin-top: -5px;}
#section-movie-detail .movie-description {margin-top: 5px;border-top:solid 4px #FFA500;}
#section-movie-detail .movie-description p {padding: 10px;font-family: helvetica, arial, sans-serif;}
#section-movie-detail .movie-information .dl-horizontal dt {width: 200px !important;}
#section-movie-detail .movie-information .dl-horizontal dd {margin-left: 230px !important;}


#section-member {margin-left:10px;margin-bottom:50px;height:auto;/*height: 240px;*/}
.member-title {font-family: Helvetica, arial, sans-serif;line-height: 36px;margin: 5px 0 5px 10%;padding: 0px 10px 0px 0px;}
.member-title a {cursor: none;}
.member-title span {font-size: 26px !important;color: #999;display: inline-block;padding: 5px 5px 5px 0px;text-transform: uppercase;width: auto;}
.member-title i {color: #999;font-size: 22px;}
.member-subtitle {margin-top: 5px;margin-left: 9%;}
.member-subtitle p {padding: 10px;font-family: helvetica, arial, sans-serif;}

.alert {margin-left:10% !important; margin-right:20% !important;}
.form-group {margin-bottom: 15px;}
.inputtext {padding: 5px;border: 1px solid #DDDDDD; width:350px;

    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    /*Applying CSS 3radius*/
    -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;-webkit-box-shadow: 0 0 2px #DDDDDD;box-shadow: 0 0 2px #DDDDDD;

}
.inputtext:focus {box-shadow:0 0 2px #FFFE00;}
