/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Label { 
	fontSize: 18;
	color: #9933FF;
}

s|TextInput {
	skinClass:ClassReference("spark.skins.mobile.TextInputSkin");
	fontSize: 18;
}

s|TextArea {
	skinClass:ClassReference("spark.skins.mobile.TextAreaSkin");
	fontSize: 18;
}

s|RichText{
	fontSize: 18;
}

.title {
	color: red;
}


s|HSlider{
	skinClass:ClassReference("ibolz.component.skins.SliderSkin");
}
