<li><a href="#/device/">Device</a></div></li>
<li><a>Content</a></li>
<li class="submenu"><a href="#/device/menu/menu_list">Menu List</a></li>
<li class="submenu"><a href="#/device/menu/channel_list">Channel List</a></li>