<div class="marg10 font_norm family">    
    <div class="doc-header">
        <h2 style="margin:0px">Login</h2>
        <i>API function for user login</i>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/external/authentication</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1">
                <tbody>
                    <tr>
                        <td>apps_id</td>
                        <td>iBolz Application ID (required)</td>
                    </tr>
                    <tr>
                        <td>mobile_no</td>
                        <td>is mobile number (required)</td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td>is user password (required)</td>
                    </tr>  
                    <tr>
                        <td>longitude</td>
                        <td>Longitude of GPS coordinate (optional)</td>
                    </tr>         
                    <tr>
                        <td>latitude</td>
                        <td>Latitude of GPS coordinate (optional)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="5" cellspacing="1">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>is server message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">
        <div class="title bold">JSON Response</div>
        <div class="detail">       
            <pre>
{
    "rcode": 1,
    "message": "Authentication succeeded",
    "apps_id": "com.balepoint.ibolz.demo.cn",
    "customer_id": "3188804665464efce3c3d0",
    "groups": [
        {
            "group_id": "1413678809542267154d8bc",
            "group_name": "History",
            "group_title": "History - louie University",
            "allow_access": "true",
            "allow_upload": "true",
            "allow_share": "true"
        }
    ]
}
            </pre>                 
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>">
                <table border="0" cellpadding="2" cellspacing="1">
                    <tbody>
                        <tr>
                            <td nowrap>app_id</td>
                            <td><input type="text" name="apps_id" id="apps_id" /></td>
                        </tr>
                        <tr>
                            <td>mobile_no</td>
                            <td><input type="text" name="mobile_no" id="mobile_no" /> (required)</td>
                        </tr>
                        <tr>
                            <td>password</td>
                            <td><input type="text" name="password" id="password" /> (required)</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button id="btn_test_<%=action_id%>" type="button" class="btn red">SUBMIT TEST</button></td>
                        </tr>        
                    </tbody>
                </table>                        
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>
        </div>
    </div>   
</div>

<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').empty().hide();
        $('#apps_id').val('<%=apps_id%>');
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $.blockUI();
            $params = $('#form_<%=action_id%>').serializeArray();
            $.post($url, $params, function(jsonData){
                $('#test_<%=action_id%>').fadeIn();
                $('#test_<%=action_id%>').html( 
                    'URL: ' + $url + '<br />Result:<br />' + JSON.stringify(jsonData, null, 4) 
                );
                if(jsonData.rcode == 1){
                    logged_account_id = jsonData.customer_id;
                }
                $.unblockUI();
            }).fail(function(err) {
                $('#test_<%=action_id%>').fadeIn();
                $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                $.unblockUI();
            });
        });
    });
</script>