.icon{
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 17px;
  vertical-align: text-top;
  background-image: url("../img/icons-default.png");
  background-position: 30px 30px;
  background-repeat: no-repeat;
  /**margin-right: .3em;	*/
  /*border: 1px solid #000;*/
}

.icon.white{
  background-image: url("../img/icons-white.png");
}

.icon-color-fb {
  background-position: -6px -5px;
}
.icon-color-tw {
  background-position: -85px  -5px;
}
.icon-color-gplus {
  background-position: -165px -5px;
}
.icon-color-path {
  background-position: -242px -5px;
}
.icon-color-kakapalan {
  background-position: -320px -5px;
}


.icon-fb {
  background-position: -7px -48px;
}
.icon-tw {
  background-position: -70px  -48px;
}
.icon-gplus {
  background-position: -132px -48px;
}
.icon-path {
  background-position: -195px -48px;
}
.icon-kakapalan {
  background-position: -258px -48px;
}
.icon-jump {
  background-position: -321px -48px;
}

.icon-arrow-left {
  background-position: -7px -93px;
}
.icon-arrow-right {
  background-position: -7px -93px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);  
}

.icon-arrow-down {
  background-position: -7px -93px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);  
}

.icon-arrow-up {
  background-position: -7px -93px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);  
}

.icon-lists {
  background-position: -70px  -93px;
}
.icon-plus {
  background-position: -132px -93px;
}
.icon-cross {
  background-position: -195px -93px;
}
.icon-prev {
  background-position: -321px -93px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);    
}
.icon-next {
  background-position: -321px -92px;
}


.icon-heart {
  background-position: -7px -138px;
}
.icon-comment {
  background-position: -70px  -138px;
}
.icon-navigation {
  background-position: -132px -138px;
}
.icon-comment2 {
  background-position: -195px -138px;
}
.icon-question {
  background-position: -258px -138px;
}
.icon-pin {
  background-position: -321px -138px;
}


.icon-calendar {
  background-position: -7px -183px;
}
.icon-speedo {
  background-position: -70px  -183px;
}
.icon-document {
  background-position: -132px -183px;
}
.icon-chat {
  background-position: -195px -181px;
}
.icon-big-heart {
  background-position: -258px -181px;
}
.icon-eyes {
  background-position: -321px -181px;
}

.icon-search {
  background-position: -7px -228px;
}
.icon-kakapalan-big {
  background-position: -70px  -228px;
}
.icon-share {
  background-position: -132px -228px;
}
.icon-podcast {
  background-position: -195px -228px;
}
.icon-attach {
  background-position: -258px -228px;
}
.icon-folder {
  background-position: -321px -228px;
}

.icon-phone {
  background-position: -7px -272px;
}
.icon-notif {
  background-position: -70px  -272px;
}
.icon-equalizer {
  background-position: -132px -272px;
}
.icon-pwr {
  background-position: -195px -272px;
}
.icon-setting {
  background-position: -258px -272px;
}
.icon-camera {
  background-position: -321px -272px;
}

.icon-pesawat {
  background-position: -7px -317px;
}
.icon-matahari {
  background-position: -70px  -317px;
}
.icon-signal {
  background-position: -132px -317px;
}
.icon-mute {
  background-position: -195px -317px;
}
.icon-mute-off {
  background-position: -258px -317px;
}
.icon-lock {
  background-position: -321px -317px;
}

.icon-table {
  background-position: -7px -360px;
}
.icon-camera-black {
  background-position: -85px  -360px;
}
.icon-timer {
  background-position: -163px -360px;
}
.icon-icon-x {
  background-position: -247px -360px;
}
.icon-icon-xx {
  background-position: -315px -360px;
}

.icon-love {
  background-position: -7px -395px;
}
.icon-love-full {
  background-position: -60px  -395px;
}
.icon-location {
  background-position: -111px -395px;
}
.icon-location-full {
  background-position: -164px -395px;
}
.icon-flag {
  background-position: -215px -395px;
}
.icon-star {
  background-position: -268px -395px;
}
.icon-icon-xxx {
  background-position: -320px -395px;
}

.icon-chat1 {
  background-position: -7px -430px;
}
.icon-inbox {
  background-position: -69px -430px;
}
.icon-edit {
  background-position: -131px -430px;
}
.icon-waker {
  background-position: -195px -430px;
}
.icon-ceklist {
  background-position: -257px -430px;
}
.icon-star-full {
  background-position: -319px -430px;
}

.icon-ceklist-full {
  background-position: -7px -465px;
}
.icon-stop {
  background-position: -69px -465px;
}
.icon-cross2 {
  background-position: -131px -465px;
}
.icon-biger {
  background-position: -195px -465px;
}
.icon-prev2 {
  background-position: -257px -465px;
}
.icon-next2 {
  background-position: -319px -465px;
}