* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  /*-webkit-touch-callout: none;*/
}

/* general */
.clearfix{ clear:both; }
.pull-left{ float:left; }
.pull-right{ float:right; }
.align-left{ text-align:left; }
.align-right{ text-align:right; }
.align-center{ text-align:center; }
.fullwidth{ width:100%;}
.offset10{ margin:5px 10px;}
.block{ display: block; clear: both; }
.hide{ display: none!important;}
.front{ z-index: 999; }
.bgblack{background-color: #000000!important;}
.elipsis_80{
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  left:10%;
}
.elipsis_70{
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  left:15%;
}

.badge{
  background: rgba(204,83,0, 0.9);
  border-radius: 100px;
  padding: 5px;
  color: #fff!important;
  font-size:.7em;
  min-width: 15px;
  text-align: center;  
}

.wrapper {
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /*background: #ccc;*/
  /*overflow: hidden;*/
}

.scroller {
  position: absolute;
  z-index: 1;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.menu {
    /*background: #fff;*/
    width: 100%;
}
/*.menu-link {
	text-shadow: none;
    color: #999;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.menu-link:active,.menu-link.active {
	color: #fff;
    background: rgba(81, 196, 212, 1);
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.menu-sep {
    padding: 5px 14px;
    line-height: 31px;
    font-size: 15px;
    color: #999;	
    background: #eee;
    border-bottom: 1px solid #eee;
    text-shadow: none;
}*/

.menu-sep {
    padding: 5px 14px;
    line-height: 31px;
    font-size: 15px;
    text-shadow: none;
}

.menu .icon{
  margin:-8px 0px 0px -8px;
}

.menu .icon.pull-right{
  margin:5px 8px 0px 0px;
}

.menu-list li ul li a{
  padding-left: 40px;
  font-size: 1em;
}

.menu-link.elipsis{
  width: 175px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
}

/* -------- application mobile */
.app, .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0px;
  background: #F4FFFF;
  z-index: 2;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
}
.app.active-view{
  z-index: 3;
}

.overlay{
  background: rgba(0, 0, 0, 0);
  z-index: 999;
}

.mainbg{
  background: url('../img/bg-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.container{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: transparent;
}

.header
{
 	border-bottom: none;	
  background-color: rgba(81, 196, 212, 1);
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.header ~ .container{
  top: 44px;
}

.header-title {
    font: lighter 19px/42px "Helvetica Neue","Arial Rounded MT Bold",Helvetica,Roboto,Arial,sans-serif;
    color: white;    
}

.header-button {
  font-weight: normal;
  color: #dbf5ff;
  background:  #51c4d4;
  border-radius: 7px;
  border: 1px solid rgba(255,255,255,.7);
}

.header-button:active,.header-button.active {
  background:  #51c4d4;
	color: #fff;
	border: 1px solid rgba(255,255,255,1);

  -webkit-box-shadow: 10px 10px 54px 0px rgba(247,247,247,1);
  -moz-box-shadow: 10px 10px 54px 0px rgba(247,247,247,1);
  box-shadow: 10px 10px 54px 0px rgba(247,247,247,1);  
}

.header-button.hasicon {
    border: none;
    padding: 0px;
    background:none;
}

.header-button .icon {
  margin-top: -9px;
}
.header-button.hasicon:active, .header-button.hasicon.active {
  background:  #51c4d4;
  border: none;

  -webkit-box-shadow: 10px 10px 54px 0px rgba(247,247,247,1);
  -moz-box-shadow: 10px 10px 54px 0px rgba(247,247,247,1);
  box-shadow: 10px 10px 54px 0px rgba(247,247,247,1);  
}


.list, .list-row:nth-child(2n) {
   background: rgba(255,255,255,0.1);    
}

.list-row:active {
    background: rgba(81, 196, 212, 0.5);
}

.list-thumb {
   border-radius: 100%;
	 background: rgba(81, 196, 212, 1); 
 }

.boxed-list-row.tappable:active {
    color: white;
    text-shadow: none;
    background: rgba(81, 196, 212, 0.5); 
}

.list-row .badge {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -7px;
}

.boxed-list {
  margin: 10px 0px;
}
/* --------- form */
form p{
	margin-bottom: 10px;
}

.control-group{
  background: rgba(255, 255, 255, .5);
}

.text-field:focus, .text-area:focus {
    color: #555;
    border-color: rgba(81, 196, 212, .5);
    outline: none;
/*    -webkit-box-shadow: 0 0 0 1px rgba(81, 196, 212, .5);
    box-shadow: 0 0 0 1px rgba(81, 196, 212, .5);*/
}

.button {
	display: inline-block;
	vertical-align: top;
	height: 33px;
	line-height: 1;
	padding: 0 16px;
	font-size: 13px;
	font-weight: normal;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	color: #243140;
	text-align: center;
	background: #e5e7ed;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.button-primary {
	color: white;
	text-shadow: 0 1px rgba(0,0,0,0.08);
	background: rgba(81, 196, 212, 1);
}

/* head search */

.search {
    position:absolute; 
    z-index:2;    
    height:35px;
    top:44px;
    left:0px;
    right: 0px;
    padding:8px 20px 6px 10px;
    background-color: #fff;
  	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;    
}

.search ~ .container {
    top: 94px;  
}
.search.hide ~ .container {
    top: 44px;  
}

#search_key {
    display: block;
    margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 15px 48px 15px 12px;
  
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  
    width: 100%;
    height: 16px;
    color: #3a4449;
    border: none;
    outline: none;
  
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3), 0 2px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.3), 0 2px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,.3), 0 2px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.2);
  
  	position: relative;
    z-index: 2;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAcCAIAAACGS4oPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbtJREFUeNrsVd9LwlAU3ubYdudvsymUQULam2GpoWFFYFD900rh1EytB3/1lAbW1oOJgWK7HbPCh9hUbEX1cR/O/Th33+693z2HvL5tCQ4bRZLEF8PIMvQowoQeoPWTIgiK0BG/V4zW8cpGBtFLblI33jQaudx5q3UHsdvtCoW2VjyeacVIeNSLNiup+qjFbDZ1egYPf5SGMVYwju/EtsPhyZXMiNW+s0azmU6LRoQikfC63w9MpVrNZLJALi8NMU83imKGZdlYNLoZDBpfAQFMgUyLmTlb/7HTge/6/b5xEqZAttvtGQyidpAswyiKMswZT8OYpmmDwaC+9pOdYdXhdDopiqrUauNkrV4HUhAErLX8Y7yLqWIjEIAdFIul0uVVt/sEA4KLQhHEfL41PDHerO+wmNWtX65U8vlCv99XlOfhD1IGhmE4jkU8f7C/x3HcJGdoM6KhmF1LDCBJUrlclaT7wWAgCC6vd7Ver8nyA4e4w0QCIaQpZh+J2cwmcvpO3ev1ksmULMsWq/Xk+Egz32HiZ6/6YP3deBxKl4nnpyhXVtMsO5sWC2b+G/rZD2sx/536jx7jiwADANtP/9R/HghOAAAAAElFTkSuQmCC) center right no-repeat;

}
#search_key:focus ~ #results {
  opacity: 1;
  top: auto;
}
#search_key::-webkit-input-placeholder, #search_key:-moz-placeholder {
    color: #607078;
}


/* spinner styles */
div.spinner {
  position: relative;
  margin: 10% auto;
  text-align: center;
  text-transform: lowercase;
  color: #111;
  font-size:12px;
}    

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}    

p#spinner {
  height: 0;
  padding-top: 30px;
  width: 30px;
  overflow: hidden;
  margin: 0 auto;
  background-size:100% 100%;
  background-image: url('../img/spinner.png');
  -webkit-mask-size: 30px 30px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.animated.fadeInUpBig, .animated.fadeInUpBig, .animated.fadeInRightBig{
  -webkit-animation-duration: 0.5s;
     -moz-animation-duration: 0.5s;
       -o-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.animated.leftmenu_show{
  -webkit-animation-duration: 0.2s;
     -moz-animation-duration: 0.2s;
       -o-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
.animated.leftmenu_hide {
  -webkit-animation-duration: 0.1s;
     -moz-animation-duration: 0.1s;
       -o-animation-duration: 0.1s;
          animation-duration: 0.1s;
}
@-webkit-keyframes leftmenu_show {
  0% {
    /*-webkit-transform: translateX(0);*/
    left: 0;
  }
  100% {
    left: 80%;
/*    -webkit-transform: translateX(80%);*/
  }
}
.animated.leftmenu_show {
  -webkit-animation-name: leftmenu_show;
}    

@-webkit-keyframes leftmenu_hide {
  0% {
    /*-webkit-transform: translateX(80%);*/
    left: 80%;
  }
  100% {
    /*-webkit-transform: translateX(0);*/
    left: 0;
  }
}
.animated.leftmenu_hide {
  -webkit-animation-name: leftmenu_hide;
}    

.profile{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: #444;
}

.title{
  color: rgba(0, 0, 0, .5);
  font-weight: lighter;
  text-shadow: 0px -1px #cfcfcf;
}

.large-title{
  font-family: "Helvetica Neue","Arial Rounded MT Bold",Helvetica,Roboto,Arial,sans-serif;
  font-size: 22px;
}

.medium-title{
  font-family: "Helvetica Neue","Arial Rounded MT Bold",Helvetica,Roboto,Arial,sans-serif;
  font-size: 18px;
}

.small-title{
  font-family: "Helvetica Neue","Arial Rounded MT Bold",Helvetica,Roboto,Arial,sans-serif;
  font-size: 12px;
  color: #d77126;
}