<div class="marg10 font_norm family">
    <div class="doc-header">
        <h2 style="margin:10px 0px">Internal Application Programming Interface</h2>
        <i>API documentation page, a brief explanation on how to use the application data.</i>
    </div>
    <div class="doc-content">
        <div class="title bold">Application Name</div>
        <div class="detail"><%= MainApp.app_name %></div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Version</div>
        <div class="detail"><%= MainApp.app_version %></div>
    </div>        
    <div class="doc-content">
        <div class="title bold">Description</div>
        <div class="detail">
            An application programming interface (API) specifies how some software components should interact with each other.<br />            
        </div>
    </div>      
    <div class="doc-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a class="thumbnail" href="#/device/content/vodList"> <img title="Content VOD List" src="assets/images/content_vodList.jpg"> </a>
                </div>
                <div class="col-md-4">
                    <a class="thumbnail" href="#/device/content/vodDetail"> <img title="Content VOD Detail" src="assets/images/content_vodDetail.jpg"> </a>
                </div>
                <div class="col-md-4">
                    <a class="thumbnail" href="#/device/content/vodPlay"> <img  title="VOD Play" src="assets/images/content_vodPlay.jpg"> </a>
                </div>
                <div class="col-md-4">
                    <a class="thumbnail" href="#/device/content/vodDownload"> <img  title="VOD Download" src="assets/images/content_vodPlay.jpg"> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="thumbnail" href="#/device/content/channelPlay"> <img  title="VOD Play" src="assets/images/content_channelPlay.jpg"> </a>
                </div>
                <div class="col-md-4">
                    <a class="thumbnail" href="#/device/content/shceduleList"> <img  title="Schedule List" src="assets/images/content_scheduleList.jpg"> </a>
                </div>
            </div>
        </div>
    </div>      
</div>
