<li><a href="#/device/">Device</a></div></li>
<li><a>Content</a></li>
<li class="submenu"><a href="#/device/army/register">Register Army</a></li>
<li class="submenu"><a href="#/device/army/submit_reference">Submit Reference</a></li>
<li class="submenu"><a href="#/device/army/history">Reference History</a></li>