<div class="marg10 font_norm family" style="min-width:1000px">
    <div class="bs-callout bs-callout-danger">
        <h2 style="margin:0px">Register</h2>
        <i>Register Ibolz Army</i>
    </div>
    <div class="large-6 medium-6 columns">
        <a class="th"> <img src="assets/images/content_vodList.jpg"> </a>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <!--
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/v2/menu/channel_list</div>
        -->
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/referral/register_referer_user</div>
    </div>
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1" class="table">
                <tbody>
                    <tbody>
                        <tr>
                            <td>apps_id</td>
                            <td>Application ID (required)</td>
                        </tr>
                        <tr>
                            <td>customer_id</td>
                            <td>Customer ID (required)</td>
                        </tr>
                        <tr>
                            <td>id_type</td>
                            <td>Customer identity type. SIM:1, KTP:2, Passport:3, Others:0</td>
                        </tr>
                        <tr>
                            <td>id_number</td>
                            <td>Customer's identity number</td>
                        </tr>
                        <tr>
                            <td>bank_code</td>
                            <td>Bank code</td>
                        </tr>
                        <tr>
                            <td>bank_account_number</td>
                            <td>Bank account number</td>
                        </tr>
                        <tr>
                            <td>bank_account_name</td>
                            <td>Bank account_name</td>
                        </tr>
                        <tr>
                            <td>gender</td>
                            <td>Gender. M/F</td>
                        </tr>
                        <tr>
                            <td>mobile_no</td>
                            <td>Customers phone number</td>
                        </tr>
                        <tr>
                            <td>birthdate</td>
                            <td>Birth date</td>
                        </tr
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1" class="table">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <textarea cols="100" rows="5" editable="false" enabled="false">
                {
                    "content_list": [
                        {
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "channel_category_id": "3",
                            "channel_id": "-2",
                            "channel_type_id": "3",
                            "content_id": "17114664355455006ea6166",
                            "content_type": "content",
                            "title": "History Lessons",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                            "description": "",
                            "prod_year": "",
                            "video_duration": ""
                        },
                        {
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "channel_category_id": "3",
                            "channel_id": "-2",
                            "channel_type_id": "3",
                            "content_id": "1374609934544047d3da780",
                            "content_type": "content",
                            "title": "Math Lessons",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                            "description": "",
                            "prod_year": "",
                            "video_duration": ""
                        },
                        {
                            "apps_id": "com.balepoint.ibolz.demo.cn",
                            "channel_category_id": "3",
                            "channel_id": "-2",
                            "channel_type_id": "3",
                            "content_id": "18984200335455009b97a6f",
                            "content_type": "content",
                            "title": "Sports Lessons",
                            "thumbnail": "http://china2.ibolz.tv/media/thumbnail?id=67736987954553f245dc32.png",
                            "description": "",
                            "prod_year": "",
                            "video_duration": ""
                        }
                    ],
                    "filter": {
                        "page": 0,
                        "limit": 12,
                        "lang": "en_US",
                        "channel_id": "1818248605541b9cbdc9041",
                        "channel_category_id": "",
                        "genre_id": "",
                        "crew_id": "",
                        "search_key": ""
                    }
                }
            </textarea>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>" class="form-horizontal">
                <div class="form-group">
                    <label for="apps_id" class="col-sm-2 control-label">apps_id</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="apps_id" id="apps_id"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="customer_id" class="col-sm-2 control-label">customer_id</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="customer_id" id="customer_id"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_type" class="col-sm-2 control-label">id_type</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="id_type" id="id_type" value="0"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_number" class="col-sm-2 control-label">id_number</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="id_number" id="id_number"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bank_code" class="col-sm-2 control-label">bank_code</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="bank_code" id="bank_code" value="0"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bank_account_number" class="col-sm-2 control-label">bank_account_number</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="bank_account_number" id="bank_account_number"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bank_account_name" class="col-sm-2 control-label">bank_account_name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="bank_account_name" id="bank_account_name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label">gender</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="gender" id="gender"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile_no" class="col-sm-2 control-label">mobile_no</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="mobile_no" id="mobile_no"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthdate" class="col-sm-2 control-label">birthdate</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="birthdate" id="birthdate"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                      <button id="btn_test_<%=action_id%>" type="button" class="btn btn-danger">SUBMIT TEST</button>
                    </div>
                </div>
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
            $('#apps_id').val('<%=def_apps_id%>');
//        $('#customer_id').val('<%=def_customer_id%>');
//        $('#channel_id').val('1818248605541b9cbdc9041');
        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $params = createParams($url, $('#form_<%=action_id%>').serializeObject());
            $.blockUI();
            $.ajax({
                url: '<%=PHP_REST_API%>', type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>