@import url(http://fonts.googleapis.com/css?family=Oswald);

* {
  font-family: 'Oswald', sans-serif !important;
}
body {
  background-color: lightgray !important;
}
.nav-tabs {
  border-bottom: none !important;
  margin-bottom: 0px !important;
  position: relative;
  top: 11px;
}
.dropdown-menu {
  margin: 0px !important;
  border: none !important;
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
  background-color: #a39a96 !important;
}
.nav-tabs > li > a {
  color: white;
  background-color: #79603e;
  border-radius: 10px 10px 0 0 !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.nav .dropdown-toggle .caret {
  border-top-color: white !important;
  border-bottom-color: white !important;
}
header {
  background-color: #9B7B50;
  background: -webkit-linear-gradient(left, #9B7B50 , #9B7B50);
}
.dropdown-toggle, .menumap {
  font-size: 16px !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.dropdown-toggle:hover, .menumap:hover {
  background-color: #a39a96 !important;
  border-color: #a39a96 !important;
}
.nav-top {
  color: white !important;
  float: right;
  margin-top: 20px;
}
.nav-top a {
  color: white !important;
  margin-left: 10px;
  margin-right: 10px;
}
#slideheadline .carousel-indicators {
  top: 15px !important;
}
#slideheadline {
  height: 249px !important;
}
.logo {
  height: 215px;
}
.bni-logo p {
  text-align: center;
  line-height: 30px !important;
  margin-bottom: 0px !important;
  font-size: 30px;
  margin-top: 10px;
}
.bni-logo .left-logo {
  height: 90px !important;
  margin: 0 auto;
  display: block;
}
.well {
  padding: 11px !important;
}
.sidebar-left {
  padding: 0px !important;
  background-color: transparent !important;
  border: none !important;
}
.sidebar-left .nav-header {
  background-color: #79603e;
  color: white;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}
.title-nav-right {
  margin-bottom: 10px;
}
.sidebar-left h4, .title-nav-right h4 {
  margin: 5px 0 !important;
  color: white !important;
  text-shadow: none !important;
}
.sidebar-left .active a {
  background-color: transparent !important;
  color: black;
}
.sidebar-left a {
  color: black;
}
#listsubmenu .nav-list, #faq-bni .nav-list, #listsubmenu2 .nav-list {
  background-color: #79603e;
  color: white;
  border-radius: 10px 10px 0 0;
}
.slideimg {
  height: auto !important;
}
.categories-item {
  color: black;
  height: 140px !important;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;

  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.categories-item .play {
  position: absolute;
  right: 10px;
  top: 70px;
}
#content-categories .categories-item {
  box-shadow: none !important;
}
header .nav-section .logo-top {
  margin-left: 0px !important;
  width: auto !important;
  position: absolute;
}
header .nav-section .logo-top .top-logo {
  height: 33px !important;
  margin-top: 5px;
  float: left;
}
header .nav-section .logo-top p {
  color: #ffffff;
  float: left;
  margin-top: 13px;
  font-size: 24px;
}
#content-categories .categories-item {
  width: auto !important;
}

.morecontent span {
    display: none;
}
#peta1 {
  height: 300px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 10px;
  display: none;
}
#peta1 iframe {
  width: 100%;
  height: 100%;
}