@CHARSET "ISO-8859-1";

/*
 * HTML5 Reset
 * ------------------------------------------------
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: baseline;
    background: transparent;
    font-family : "Helvetica",Arial,sans-serif;
}

article, aside, figure, footer, header, hgroup, nav,section { display: block; }
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img, object, embed { max-width: 100%; }
/* force a vertical scrollbar to prevent a jumpy page */
html { overflow-y: scroll; overflow-x: hidden;}
/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */


ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title],
dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td { font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input,
select {vertical-align: middle;}
pre { white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select,
input,
textarea { font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}

/* Accessible focus treatment people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active { outline: none;}
small { font-size: 85%;}
strong,
th { font-weight: bold;}
td,
td img {vertical-align: top;}
/* Make sure sup and sub don't screw with your line-heights gist.github.com/413930 */
sub,
sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {font-family: monospace, sans-serif;}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button { cursor: pointer;}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea { margin: 0;}
/* make buttons play nice in IE */
button { width: auto; overflow: visible;}

/* ============== Starting CSS for Ibolz China =================== */

@media (max-width: 1200px)
{
    body {padding-right: 0px;padding-left: 0px;}
}

.container {width: 960px !important;}
.clear {clear:both;}
.breadcrumb > li {text-shadow: none !important;font-size: 14px !important;margin:0 5px !important;height: 20px;}
.breadcrumb li a {color:#ffffff !important;}
.header-wrapper {top:0;margin: 0 auto;height:auto;width:100%;/*position:fixed;background-color:#FFA814;padding-bottom: 5px;*/z-index: 1000;}

header {background-color: #a39a96; background: -webkit-linear-gradient(left, #9B7B50 , #a39a96); /* For Safari 5.1 to 6.0 */}
header .nav-section {height:45px;min-width: 1349px;width: 100%;}
header .nav-section .bni-logo {float: left;margin-left: 75px;width: 300px;}
header .nav-section .bni-logo .top-logo {height: 95px;text-decoration: none;width: auto;float:left;}
header .nav-section .bni-logo h2 {color: #ffffff;float: left;font-size: 30px;line-height: 32px;margin-left: 10px;margin-top: 20px;}
header .nav-section .bni-menu {float:left;width:820px;margin-top: 15px;margin-right:10px;margin-left:10px;}
header .nav-section .bni-logo46 {float: right;height: 55px;margin-right: 85px;margin-top: 20px;width: 200px;}
header .top-menu {height:30px;}
header .top-menu .nav {margin-bottom: 2px !important;}
header .top-menu .nav li {display: block;float: left;font-family: helvetica, arial; font-style: normal;margin-left:10px;}
header .top-menu .nav li a {cursor: pointer; display: block; font-size: 12px; height: 27px;text-align: center; text-decoration: none;color: #ffffff;}
header .top-menu .nav .nav-cart {width: 25px; height:27px;color:#ffffff;}
header .top-menu .nav .nav-login {width: 60px; height:22px;color:#ffffff;border: solid 1px #ffffff;}
header .top-menu .nav .nav-signup {width: 60px; height:22px;color:#ffffff;border: solid 1px #ffffff;}
header .top-menu .nav .nav-cart a:hover {background-color: #ffbe48;border-radius: 4px;}
header .top-menu .nav .nav-login a:hover {color: #FF6600;height:22px;background-color: #FFA814;}
header .top-menu .nav .nav-signup a:hover {color: #FF6600;height:22px;background-color: #FFA814;}
header .top-menu .nav li a:hover {color: #FF6600;}

header .ibolz-menu {height:30px;margin-top:5px;padding-left: 30px;}
header .ibolz-menu .nav {margin-bottom: 2px !important;}
header .ibolz-menu .nav li {display: block;float:left;font-family: helvetica, arial; font-style: normal;margin:4px;}
header .ibolz-menu .nav li a {cursor: pointer; width:auto;padding-left:2px;padding-right:2px;display: block; font-size: 14px !important; height: 27px;
    text-decoration: none;color: #ffffff;}
header .ibolz-menu .nav li a:hover {color: #81675D;background-color: transparent;/*font-weight: bold;/*border-radius: 4px;*/}
header .ibolz-menu .nav li a:active {color: #81675D;background-color: transparent;/*font-weight: bold;/*border-radius: 4px;*/}
header .ibolz-menu .nav .nav-ibolz {width: auto; margin-left:5px;height:27px;color:  #ffffff;}
header .ibolz-menu .nav .nav-ibolz a:hover {color: #81675D;/*border-radius: 4px;*/}
header .ibolz-menu .dropdown-menu li {display: block;float:none;font-family: helvetica, arial; font-style: normal;border-bottom: 1px solid #ffffff;}
header .ibolz-menu .dropdown-menu li a {cursor: pointer; display: block; font-size: 14px; height: 20px;text-decoration: none;color: #ffffff;background-color: #a39a96 !important;}
header .ibolz-menu .dropdown-menu li a:hover {/* color: #00525D; */color: #ffffff;font-weight:bold;background:none;/*background-color: #ffbe48 !important;*/}
.togglex {display: none;width: 100%;height: auto;background-color: #a39a96;}
.togglex .frame {width: 1200px !important;margin: 0 auto;padding-top: 10px;}
.togglex .frame p {width: 50%;float: left;line-height: 10px;}
.togglex .frame p a {color: white !important;font-size: 11px;}
.togglex .frame p a:hover {color: lightblue !important;text-decoration: underline;}
.dropdown-menu {background-color: #a39a96 !important;margin: 13px 0 0 !important;width: auto !important;}
.full-container {margin: 0 auto;height:auto;width:100%;display: block;}
/*.fixed-container {margin-top:125px;}*/
#slideheadline { width:auto; height: 460px;}
.slideimg { background-position: center top; background-repeat: no-repeat; width:100%; height:460px; position:relative;}
#slideheadline .carousel-indicators {top: 410px !important;}
#slideheadline .carousel-indicators li {width: 25px; height: 25px; border-radius: 25px; -moz-border-radius:25px;-webkit-border-radius: 25px; -border-radius: 25px;
    border:2px #fff solid; background-color:#CEC0C0;opacity: 0.5}
#slideheadline .carousel-indicators li:hover {background-color: #00525D;}
#slideheadline .carousel-indicators .active {background-color: #00525D; }
.search-wrapper {margin: 0 auto;height:40px;width:100%;background-color: #716e71;}
.breadcrumb {background-color: #716e71 !important;margin: 0 75px 0 !important;float:left;}
.search-form {background-color: #716e71 !important;float:left;margin-right: 85px}
.fa-lg {font-size: 20px !important;}
footer {background-color:#a39a96;height:100px;border-top:10px solid #716e71;}
footer .top-pad {height:30px; overflow:hidden; clear:both;}

footer .contact {text-align:center;margin-top:30px;margin-bottom:30px;}
footer .contact .weibo {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .weibo:hover {opacity: 1;}
footer .contact .qq {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .qq:hover {opacity: 1;}
footer .contact .weixin {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .weixin:hover {opacity: 1;}
footer .contact .baidu {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .baidu:hover {opacity: 1;}
footer .contact .tudou {margin:2px;width:41px;height:42px;opacity: 0.5;}
footer .contact .tudou:hover {opacity: 1;}

footer .other-link {text-align:center;margin-bottom:10px;clear:both;}
footer .other-link a {font-family:helvetica, arial, sans-serif !important;font-size:14px;font-weight:bold;color:#ffffff;text-decoration: none;}
footer .other-link a:hover {color:#FFAC1F;}
footer .belongs {text-align:center;font-size:11px;color:#ffffff;font-family:helvetica, arial, sans-serif !important;margin-bottom: 20px;}

#section-slider {margin-left:10px;height: 470px;}
#section-home-content {margin-left:10px;margin-bottom:50px;height:auto;/*height: 240px;*/}

.slider-title {font-family: Helvetica, arial, sans-serif; line-height: 36px;margin: 5px 0 5px 0px;padding: 0px 10px 0px 0px;}
.slider-title span {font-size: 26px !important;color: #00525D;display: inline-block;padding: 5px 5px 5px 0px;text-transform: uppercase;width: auto;font-weight: normal;}
.slider-title i {color: #999;font-size: 22px;}

.section-content-info {height: 150px;padding:10px;}
.section-content-info .poster {float: left;margin-left: 10px;}
.section-content-info .poster-info {float: left;}

.section-slider-content {}
.section-template {width: 100%;height: auto;}
.section-template .bgfull {background-position: center center !important; background-repeat: no-repeat !important; background-size: cover !important;}
.section-content-poster {float: left;width: 25%;}
.section-content-slider {float: left;width: 75%;}
.section-home-slider {width: 100%;}
.row {margin-left: -5px !important;}

.home-slider {height: 178px;overflow: hidden;position: relative;width: auto;}
.home-slider .content-item {float:left;width:189px;height:159px;border-right: solid 1px #ffffff; border-left: solid 1px #ffffff;opacity: 0.8;cursor: pointer;
    -webkit-transition: 0.6s ease-in-out left;-moz-transition: 0.6s ease-in-out left;-o-transition: 0.6s ease-in-out left;transition: 0.6s ease-in-out left;opacity: 1;}
.home-slider .content-item:hover {opacity: 0.8;}
.home-slider .content-item .slider-latest {height:200px;height:136px;overflow: hidden;background: #000000;text-align: center;}
.home-slider .content-item .slider-latest img {width:128px;height:auto;min-height:128px;}
.home-slider .lates-overlay {width: 189px;height: 30px;margin-top: -7px;background-color:#616161;}
.home-slider .ico-play-head {background-color: #000000; height: 28px; width: 28px;position: absolute;
    background: url("../images/asset__movie_play_header.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);top:105px;margin-left:-195px;
    display: inline-block; text-decoration: none;}
.home-slider .overlay-text {padding: 8px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}

.bg-loader {background: url(../images/storing_animation.gif) center center no-repeat;/* prealoder */}
.home-content {height: auto;width: 960px; padding-bottom: 10px;clear:both;}
.home-content .poster-content {height:auto;width:300px;margin-left:0px;/*border: 1px solid #FFEBD1;background-color:#FCF7EF;*/}

.home-content .content-item {height:450px;}
.home-content .site-color {font-family: helvetica, arial, sans-serif; font-size: 28px; font-weight: bold;line-height: 30px;color: #E85F3F;}

#content-info {float:left;width: 440px;}
#content-info .content-descript {height: 100px;}
#content-info .content-descript h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;line-height: 11px;}
#content-info .content-descript p {font-family: helvetica, arial, sans-serif; font-size: 12px;/*line-height: 12px;*/height: 25px;}
#content-info .content-descript dl {float: left; width: 440px; margin: 2px -5px; padding: 0; /*border-bottom: 1px solid #999;*/}
#content-info .content-descript dt {clear: left; float: left; height:10px;width: 100px; margin: 0; padding: 5px; /*border-top: 1px solid #999; */font-weight: bold;}
#content-info .content-descript dd {float: left; height:10px; width: 320px; margin: 0; padding: 5px; /*border-top: 1px solid #999;*/}

#content-media {float:left;width: 110px;}
#content-media .social {border-bottom: 4px solid #cecece;width: 100%;text-align: left; margin: 0 auto;height: 60px;}
#content-media .social .score-place {/*border-bottom: 2px solid #cecece;width: 100%; */height: 50px;}
#content-media .social .content-score {list-style: none;display: inline-block;margin:0 0px;list-style-position:inside;padding: 5px;cursor: pointer;text-align: center;}
#content-media .social .score-btn {max-height: 30px;}
#content-media .social .score-btn img{max-height: 28px;max-width: 29px;}
#content-media .social .content-score a:hover{text-decoration: none;}
#content-media .social .content-score li{float: left; margin-left: 4px; min-width: 28px; color: #34495E; font-weight:bold;max-height: 28px;}
#content-media .social .content-score div {color: #34495E; line-height: 23px;}
#content-media .social .loader{width: 100%; height: 1px; background: url(../img/loader_like.gif) no-repeat; background-size: 100% 100%; visibility: hidden;}
#content-media .views {border-bottom: 4px solid #cecece;padding: 5px 0 5px;}
#content-media .views .button-view {background-color: #005e6a;border-radius: 10px;color: #ffffff;font-family: helvetica,arial,sans-serif;font-size: 20px;
    font-weight: bold;margin-top: 5px;margin-bottom: 5px;padding: 12px;text-align: center;width: 65px;margin-left:10px;}
#content-media .views .button-view:hover {background-color: #B3E2DA;}
#content-media .views .button-view a {color: #ffffff;}

.bnicontent-detail {width: 960px; padding-bottom: 10px;}
.bnicontent-detail .poster-place {height:auto;width:300px;margin-left:-5px}
.bnicontent-detail .social {width: 100%;text-align: right; margin: 10px auto;height: 10px;}
.bnicontent-detail .social .score-place {height: 50px;}
.bnicontent-detail .social .content-score {list-style: none;display: inline-block;list-style-position:inside;cursor: pointer;margin:3px 100px -1px 11px;}
.bnicontent-detail .social .score-btn {max-height: 30px;}
.bnicontent-detail .social .score-btn img{max-height: 28px;max-width: 29px;}
.bnicontent-detail .social .content-score a:hover{text-decoration: none;}
.bnicontent-detail .social .content-score li{float: left; margin-left: 15px; min-width: 28px; color: #ffffff; font-weight:bold;max-height: 28px;}
.bnicontent-detail .social .content-score div {color: #ffffff; line-height: 23px;float:left;margin-left:5px;}
.bnicontent-detail .overlay {background-color: #000000;color: #ffffff;font-family: helvetica;font-size: 15px;height: 32px;
    opacity: 0.6;position: absolute;width: 300px;margin-left:-4px;}
.bnicontent-detail .overlay-text {margin: 0;padding: 10px;}
.bnicontent-detail h3 {font-family: helvetica, arial, sans-serif; font-size: 22px; color: #B9B9B9;font-weight: normal;}
.bnicontent-detail h4 {font-family: helvetica, arial, sans-serif; font-size: 20px; color: #F86728;font-weight: normal;text-transform: uppercase;}
.bnicontent-detail h5 {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;font-weight: bold;text-transform: uppercase;line-height: 15px;height: 35px;width:150px;overflow: hidden;}
.bnicontent-detail p {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;}
.bnicontent-detail .item-sec {padding-bottom: 10px;padding-left:10px;}
.bnicontent-detail .sessions {width: 100%;height: auto;}
.bnicontent-detail .sessions ul {margin: 0; padding: 0; list-style: none;}
.bnicontent-detail .sessions li {float: left; cursor: pointer; margin: 2px; vertical-align: top;}
.bnicontent-detail .sessions li .product-title {height: 20px;padding: 5px;background-color: #BA955F; width: inherit;}
.bnicontent-detail .sessions li .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
.bnicontent-detail .sessions li .product-image {height:88px;width:195px; overflow: hidden;background: #cecece;border: solid 1px #cecece;}
.bnicontent-detail .sessions li .product-image img {width:200px;height:115px;}
.bnicontent-detail .sessions li img {width: 200px; height: 115px;  padding: 2px !important;}
.bnicontent-detail .sessions li div {width: 195px; height: 115px;  padding: 2px !important;background-color: #ffffff;}
.bnicontent-detail .content-info {height: auto;}
.bnicontent-detail .content-info h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;line-height: 11px;color: #242424;}
.bnicontent-detail .content-info p {font-family: helvetica, arial, sans-serif; font-size: 12px;}
.bnicontent-detail .content-info dl {width: 100%; height:80px;margin: 2px -5px; padding: 0; /*border-bottom: 1px solid #999;*/}
.bnicontent-detail .content-info dt {clear: left; float: left; height:10px;width: 100px; margin: 0; padding: 5px; /*border-top: 1px solid #999; */font-weight: bold;}
.bnicontent-detail .content-info dd {float: left; height:10px; width: 320px; margin: 0; padding: 5px; /*border-top: 1px solid #999;*/}
.bnicontent-detail .playlist {width: 100%;height: auto;margin: 0 0 10px -5px !important; }
.bnicontent-detail .playlist ul {padding: 0; list-style: none;}
.bnicontent-detail .playlist li {float: left; cursor: pointer; margin: 5px; vertical-align: top;}
.bnicontent-detail .playlist li .product-title {height: 20px;padding: 10px;background-color: #CFEEF1;}
.bnicontent-detail .playlist li .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
.bnicontent-detail .playlist li .product-image {height:240px;width:160px; overflow: hidden;background: #cecece;}
.bnicontent-detail .playlist li .product-image img {width:160px;height:auto;min-height:136px;}
.bnicontent-detail .photolist {width: 100%;height: auto;}
.bnicontent-detail .photolist ul {margin: 0; padding: 0; list-style: none;}
.bnicontent-detail .photolist li {float: left; cursor: pointer; margin: 3px; vertical-align: top;}
.bnicontent-detail .photolist li img {width: 97px; height: 97px;  padding: 2px !important;}
.bnicontent-detail .photolist li div {width: 90px; height: 90px;  padding: 2px !important;background-color: #EEEEEE;}
.bnicontent-detail .doc-download {border-bottom: solid 2px #cecece;width: 290px;margin-bottom: 10px;padding-bottom: 10px;}
.bnicontent-detail .doc-download .img-apps {float: left;width: 100px;height: 100px;}
.bnicontent-detail .doc-download .img-apss img {width:90px;height: 90px;}
.bnicontent-detail .doc-download .doc-title {float: left;width: 150px;height: 100px;}
.bnicontent-detail .doc-download .img-download {float: left;width: 35px;height: 100px;text-align: center;cursor: pointer;}
.bnicontent-detail .doc-download .img-download img {width:20px;height: 20px;}

.bnichannel-detail {width: 960px; padding-bottom: 10px;}
.bnichannel-detail .poster-place {height:170px;width:300px;margin-left:-5px}
.bnichannel-detail .social {width: 100%;text-align: right; margin: 10px auto;height: 10px;}
.bnichannel-detail .social .score-place {height: 50px;}
.bnichannel-detail .social .content-score {list-style: none;display: inline-block;list-style-position:inside;cursor: pointer;margin:3px 100px -1px 11px;}
.bnichannel-detail .social .score-btn {max-height: 30px;}
.bnichannel-detail .social .score-btn img{max-height: 28px;max-width: 29px;}
.bnichannel-detail .social .content-score a:hover{text-decoration: none;}
.bnichannel-detail .social .content-score li{float: left; margin-left: 15px; min-width: 28px; color: #ffffff; font-weight:bold;max-height: 28px;}
.bnichannel-detail .social .content-score div {color: #34495E; line-height: 23px;}
.bnichannel-detail .overlay {background-color: #000000;color: #ffffff;font-family: helvetica;font-size: 15px;height: 32px;
    opacity: 0.6;position: absolute;top:605px;width: 300px;margin-left:-4px;}
.bnichannel-detail .overlay-text {margin: 0;padding: 10px;}
.bnichannel-detail h3 {font-family: helvetica, arial, sans-serif; font-size: 22px; color: #B9B9B9;font-weight: normal;}
.bnichannel-detail h4 {font-family: helvetica, arial, sans-serif; font-size: 20px; color: #F86728;font-weight: normal;text-transform: uppercase;}
.bnichannel-detail h5 {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;font-weight: bold;text-transform: uppercase;line-height: 15px;height: 35px;}
.bnichannel-detail p {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;}
.bnichannel-detail .item-sec {padding-bottom: 20px;padding-left:10px;}
.bnichannel-detail .sessions {width: 100%;height: auto;}
.bnichannel-detail .sessions ul {margin: 0; padding: 0; list-style: none;}
.bnichannel-detail .sessions li {float: left; cursor: pointer; margin: 2px; vertical-align: top;}
.bnichannel-detail .sessions li img {width: 200px; height: 115px;  padding: 2px !important;}
.bnichannel-detail .sessions li div {width: 195px; height: 115px;  padding: 2px !important;background-color: #ffffff;}
.bnichannel-detail .content-info {height: auto;}
.bnichannel-detail .content-info h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;line-height: 11px;color: #242424;}
.bnichannel-detail .content-info p {font-family: helvetica, arial, sans-serif; font-size: 12px;}
.bnichannel-detail .content-info dl {width: 100%; height:65px;margin: 2px -5px; padding: 0; /*border-bottom: 1px solid #999;*/}
.bnichannel-detail .content-info dt {clear: left; float: left; height:10px;width: 100px; margin: 0; padding: 5px; /*border-top: 1px solid #999; */font-weight: bold;}
.bnichannel-detail .content-info dd {float: left; height:10px; width: 320px; margin: 0; padding: 5px; /*border-top: 1px solid #999;*/}
.bnichannel-detail .playlist {width: 100%;height: auto;margin: 0 0 10px -5px !important; }
.bnichannel-detail .playlist ul {padding: 0; list-style: none;}
.bnichannel-detail .playlist li {float: left; cursor: pointer; margin: 5px; vertical-align: top;}
.bnichannel-detail .playlist li .product-title {height: 20px;padding: 10px;background-color: #CFEEF1;}
.bnichannel-detail .playlist li .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
.bnichannel-detail .playlist li .product-image {height:240px;width:160px; overflow: hidden;background: #cecece;}
.bnichannel-detail .playlist li .product-image img {width:160px;height:auto;min-height:136px;}
.bnichannel-detail .photolist {width: 100%;height: auto;}
.bnichannel-detail .photolist ul {margin: 0; padding: 0; list-style: none;}
.bnichannel-detail .photolist li {float: left; cursor: pointer; margin: 3px; vertical-align: top;}
.bnichannel-detail .photolist li img {width: 97px; height: 97px;  padding: 2px !important;}
.bnichannel-detail .photolist li div {width: 90px; height: 90px;  padding: 2px !important;background-color: #EEEEEE;}
.bnichannel-detail .schedule td {font-family: helvetica, arial, sans-serif; font-size: 12px; line-height: 20px; padding: 2px; color: #888888; border-bottom: dashed 1px #cecece;}

.user-comment {width: auto;font-family: helvetica, arial, sans-serif;border-bottom: solid 1px #ffffff;margin-top:10px;}
.user-comment h3 {font-size: 16px;font-weight: bold;line-height: 12px;margin-left:0px;color:#303030;}
.user-comment .comment-date {font-size: 11px;font-weight: normal;line-height: 12px;}
.user-comment p {font-size: 12px;margin-top:-5px;}
.comment-side-left{width: 65px;float: left;}
.comment-side-right{float: left;margin-left: 15px;width: 551px;}
.media-input{width: 590px; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; border: solid 1px #d3d3d3;
    padding: 8px 12px 8px 10px; margin-bottom: 5px; margin-top:5px;}
.button-comment {background-color: #005e6a; border-radius: 8px; color: #ffffff; font-family: helvetica,arial,sans-serif;
    font-size: 18px; font-weight: normal; margin-left: 30px; margin-top: 10px; padding: 10px; text-align: center; width: 70px;}
.button-comment:hover {background-color: #B3E2DA;}
.button-comment a {color: #ffffff;}

.border-bott {border-bottom: solid 3px #cecece;margin-top: 20px;}
#content-categories {margin: 0;}
#content-categories h3 {margin-top: 0;font-family: helvetica, arial, sans-serif; font-size: 20px; line-height:25px; color: #F86728;font-weight: bold;text-transform: uppercase;}
#content-categories .categories-item {width: 650px;height: auto;margin-bottom: 10px;}
#content-categories .image-place {float:left;width: 170px;height: 125px;overflow: hidden;}
#content-categories .detail-place {float:left;margin-left:10px;width: 440px;height: 125px;}
#content-categories .detail-place .content {float:left;height: 165px;width: 280px;margin-top:-20px;}
#content-categories .detail-place .content .sub-title {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;font-weight: bold;text-transform: uppercase;line-height: 10px;}
#content-categories .detail-place .content .sub-description {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;height: 35px;width: 400px;}
#content-categories .detail-place .content dl {float: left; width: 440px; margin: 2px 0; padding: 0; /*border-bottom: 1px solid #999;*/}
#content-categories .detail-place .content dt {clear: left; float: left; height:10px;width: 100px; margin: 0; padding: 5px; /*border-top: 1px solid #999; */font-weight: bold;}
#content-categories .detail-place .content dd {float: left; height:10px; width: 320px; margin: 0; padding: 5px; /*border-top: 1px solid #999;*/}
#content-categories .detail-place .content-other {float:right;}
.button-view {color: #ffffff !important;background-color: #005e6a;border-radius: 10px;font-family: helvetica,arial,sans-serif;font-size: 20px;
    font-weight: bold;padding: 7px;text-align: center;width: 65px;position: relative;float: right;top: -60px;right: 20px;}
#content-categories .detail-place .content-other .button-view:hover {background-color: #B3E2DA;position: relative;top: -60px;right: 20px;}
#content-categories .detail-place .content-other .button-view a {color: #ffffff;}
#content-categories .detail-place .content-other .social {border-top: 4px solid #cecece;width: 100%;text-align: left; margin: 10px auto;height: 60px;}
#content-categories .detail-place .content-other .social .score-place {/*border-bottom: 2px solid #cecece;width: 100%; */height: 50px;}
#content-categories .detail-place .content-other .social .content-score {list-style: none;display: inline-block;list-style-position:inside;cursor: pointer;text-align: center;}
#content-categories .detail-place .content-other .social .score-btn {max-height: 30px;}
#content-categories .detail-place .content-other .social .score-btn img{max-height: 28px;max-width: 29px;}
#content-categories .detail-place .content-other .social .content-score a:hover{text-decoration: none;}
#content-categories .detail-place .content-other .social .content-score li{float: left; margin-left: 5px; min-width: 28px; color: #34495E; font-weight:bold;max-height: 28px;}
#content-categories .detail-place .content-other .social .content-score div {color: #34495E; line-height: 23px;}
#content-categories .detail-place .content-other .related-sec {float:left;width:240px;height: auto;margin-left:10px;}
#content-categories .detail-place .content-other .related-sec img {width: 240px; height: 125px;}
#content-categories .detail-place .content-other .related-sec .product-title {height: 20px;padding: 5px;background-color: #CFEEF1;}
#content-categories .detail-place .content-other .related-sec .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
#content-categories .detail-place .content-other .related-sec .product-image {height:90px;width:238px;overflow: hidden;background: #cecece;border: solid 1px #cecece;}
#content-categories .detail-place .content-other .related-sec .product-image img {width:auto;height:90px;}
#content-categories-list .playlist {width: 100%;height: auto;}
#content-categories-list .playlist ul {padding: 0; list-style: none;}
#content-categories-list .playlist li {float: left; cursor: pointer; margin-right: 30px; margin-bottom:30px;vertical-align: top;}
#content-categories-list .playlist li .product-title {height: 20px;padding: 5px;background-color: #BA955F;}
#content-categories-list .playlist li .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
#content-categories-list .playlist li .product-image {height:240px;width:160px; overflow: hidden;background: #cecece;border: solid 1px #cecece;}
#content-categories-list .playlist li .product-image img {width:160px;height:238px;min-height:136px;}


#channel-categories-list .playlist {width: 100%;height: auto;}
#channel-categories-list .playlist ul {padding: 0; list-style: none;}
#channel-categories-list .playlist li {float: left; cursor: pointer; margin-right: 30px; margin-bottom:30px;vertical-align: top;}
#channel-categories-list .playlist li .product-title {height: 20px;padding: 5px;background-color: #BA955F;/*border-radius:10px 10px 0 0;*/}
#channel-categories-list .playlist li .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #ffffff;}
#channel-categories-list .playlist li .product-image {height:90px;width:160px; overflow: hidden;background: #85584D;border: solid 1px #FFEBD1;/*border-radius: 0 0 10px 10px;*/}
#channel-categories-list .playlist li .product-image img {width:160px;height:auto;min-height:90px;}


.playlist-slider {height: 270px;overflow: hidden;position: relative;width: auto;margin-top:15px;}
.playlist-slider .carousel-inner {margin-left: 40px !important;}
.playlist-slider .content-item {float:left;height:285px;cursor: pointer;margin-right: 10px;}
.playlist-slider .content-item .product-title {height: 20px;padding: 5px;background-color: #BA955F;}
.playlist-slider .content-item .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
.playlist-slider .content-item .product-image {height:170px;width:160px; overflow: hidden;background: #dddddd;border: solid 1px #dddddd;}
.playlist-slider .content-item .product-image img {width:160px;height:238px;}
.playlist-slider .lates-overlay {width: 200px;height: 30px;margin-top: -7px;background-color:#616161;}
.playlist-slider .ico-play-head {background-color: #000000; height: 28px; width: 28px;position: absolute;
    background: url("../images/asset__movie_play_header.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);top:105px;margin-left:-195px;
    display: inline-block; text-decoration: none;}
.playlist-slider .overlay-text {padding: 8px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}
.carousel-control {border: none !important;border-radius: 0 !important; height: 100% !important; top: 50% !important;}
#playlist_left {background: url("../images/asset__arrow_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);margin-top: -60px;position: absolute;z-index: 100;left: 0px;}
#playlist_right {background: url("../images/asset__arrow_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);margin-top: -60px;position: absolute;z-index: 100;right: 28px;}

#popular {width: 300px;margin-top:40px;}
#popular .title-place {background-color: #005E6A;color: #FEFFFB;padding: 10px;font-family: helvetica, arial, sans-serif;
    font-size: 16px;font-weight:bold;border-radius:5px 5px 0 0}
#popular .content-place {background-color: #C6EDF4;}
#popular .popular-item-1 {background-color: #C6EDF4;border-bottom: solid 1px #ffffff;height: 160px;}
#popular .popular-item-1 .img-place {float:left;padding: 10px;}
#popular .popular-item-1 img {width: 90px; height: 135px;}
#popular .popular-item-1 .content-place-1 {float: left;margin-left: 5px;width: 175px;}
#popular .popular-item-1 .content-place-1 h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; color: #F86728;font-weight: bold;text-transform: uppercase;margin-top:-5px;}
#popular .popular-item-1 .content-place-1 dl {float: left; width: 175px; margin: -25px -4px; padding: 0; /*border-bottom: 1px solid #999;*/}
#popular .popular-item-1 .content-place-1 dt {clear: left; float: left; height:10px;width: 50px; margin: 0; padding: 5px; /*border-top: 1px solid #999; */font-weight: bold;font-size: 11px;}
#popular .popular-item-1 .content-place-1 dd {float: left; height:10px; width: 100px; margin: 0; padding: 5px; font-size: 11px;/*border-top: 1px solid #999;*/}
#popular .popular-item-1 .content-place-1 .sub-title {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;font-weight: bold;text-transform: uppercase;margin-top:30px;}
#popular .popular-item-1 .content-place-1 .sub-description {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;height: 35px;margin-top:-10px;}
#popular .popular-item-2 {background-color: #C6EDF4;border-bottom: solid 1px #ffffff;height: 50px;}
#popular .popular-item-2 .content-place-2 {margin-left: 5px;width: 300px;padding: 2px;}
#popular .popular-item-2 .content-place-2 h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; color: #F86728;font-weight: bold;text-transform: uppercase;margin-top:-5px;}
#popular .popular-item-2 .content-place-2 .sub-lecture {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;margin-top:-20px;}

#latest {width: 300px;margin-top:20px;}
#latest .title-place {background-color: #FF6632;color: #FDBA9D;padding: 10px;font-family: helvetica, arial, sans-serif;
    font-size: 16px;font-weight:bold;border-radius:5px 5px 0 0}
#latest .content-place {background-color: #FEF5E4;}
#latest .latest-item-1 {background-color: #FEF5E4;border-bottom: solid 1px #ffffff;height: 160px;}
#latest .latest-item-1 .img-place {float:left;padding: 10px;}
#latest .latest-item-1 img {width: 90px; height: 135px;}
#latest .latest-item-1 .content-place-1 {float: left;margin-left: 5px;width: 175px;}
#latest .latest-item-1 .content-place-1 h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; color: #F86728;font-weight: bold;text-transform: uppercase;margin-top:-5px;}
#latest .latest-item-1 .content-place-1 dl {float: left; width: 175px; margin: -25px -4px; padding: 0; /*border-bottom: 1px solid #999;*/}
#latest .latest-item-1 .content-place-1 dt {clear: left; float: left; height:10px;width: 50px; margin: 0; padding: 5px; /*border-top: 1px solid #999; */font-weight: bold;font-size: 11px;}
#latest .latest-item-1 .content-place-1 dd {float: left; height:10px; width: 100px; margin: 0; padding: 5px; font-size: 11px;/*border-top: 1px solid #999;*/}
#latest .latest-item-1 .content-place-1 .sub-title {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;font-weight: bold;text-transform: uppercase;margin-top:30px;}
#latest .latest-item-1 .content-place-1 .sub-description {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;height: 35px;margin-top:-10px;}
#latest .latest-item-2 {background-color: #FEF5E4;border-bottom: solid 1px #ffffff;height: 50px;}
#latest .latest-item-2 .content-place-2 {margin-left: 5px;width: 300px;padding: 2px;}
#latest .latest-item-2 .content-place-2 h3 {font-family: helvetica, arial, sans-serif; font-size: 14px; color: #F86728;font-weight: bold;text-transform: uppercase;margin-top:-5px;}
#latest .latest-item-2 .content-place-2 .sub-lecture {font-family: helvetica, arial, sans-serif; font-size: 12px; color: #000000;margin-top:-20px;}

.loadmore-contentplace {margin-top:80px;float: none;}
.loadmore {width: 100px;height: 15px;margin:0 auto;/*padding-top: 5px; */padding-bottom: 10px;margin-bottom: 10px;}
.loadmore-bg {background: #CFEEF1;border-radius:6px;margin-top:50px;}
.loadmore-text {text-decoration: none;color: #187499;font-size: 11px;font-weight: bold;/*margin-top: 5px;*/display: block;}
.loadmore-text:hover{text-decoration: none;color: #187499;cursor: pointer;}
#loadmore-loader{display: block;text-align: center;font-weight: bold;height: 25px;width: 200px;}
.loader{width: 100%;height: auto;background: url(../images/720.png) no-repeat;background-size: 100% 100%;visibility: hidden;}

.panelslider {height: 145px;overflow: hidden;position: relative;width: auto;margin-top:33px;}
.panelslider .carousel-inner {margin-left: 40px !important;}
.panelslider .content-item {float:left;height:285px;cursor: pointer;margin-right: 10px;}
.panelslider .content-item .product-title {height: 20px;padding: 5px;background-color: #BA955F;}
.panelslider .content-item .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
.panelslider .content-item .product-image {height:98px;width:160px; overflow: hidden;border: 1px solid #FFEBD1;background-color:#FCF7EF;}
.panelslider .content-item .product-image img {width:160px;height:98px;}
.panelslider .lates-overlay {width: 200px;height: 30px;margin-top: -7px;background-color:#616161;}
.panelslider .ico-play-head {background-color: #000000; height: 28px; width: 28px;position: absolute;
    background: url("../images/asset__movie_play_header.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);top:105px;margin-left:-195px;
    display: inline-block; text-decoration: none;}
.panelslider .overlay-text {padding: 8px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}

.carousel-control {border: none !important;border-radius: 0 !important; height: 100% !important; top: 50% !important;}
#movie_caro_left {background: url("../images/asset__arrow_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);margin-top: -30px;position: absolute;z-index: 100;left: 0px;}
#movie_caro_right {background: url("../images/asset__arrow_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);margin-top: -30px;position: absolute;z-index: 100;right: 34px;}

#vod-list ul, ol {margin:0 0 10px 10px !important;}
#vod-list .item-movie {float: left; margin: 10px; padding:5px;vertical-align: top;width: 185px;height: 155px;border: 1px solid #9e9696;;text-align: center;
    box-shadow: 2px 2px #cecece;background-color: #000000;}
#vod-list .item-movie img {width: 185px; height: 113px; }
#vod-list .item-movie p {width: 185px;padding: 2px !important;font-size: 10px;height: auto;line-height: 12px;}
#vod-list .item-movie .movie-overlay {width: 185px;height: 30px;margin-top: 0px;background-color:#616161;}
#vod-list .item-movie .overlay-text {padding: 8px;margin-top:10px;color: #ffffff;font-family: helvetica;font-size: 12px;font-weight: bold;}

.player-place {width: 100%; height: auto;background-color: #000000;}
.player{height: 400px;width: 620px;border: 1px solid rgba(50, 50, 50, .1);overflow-x: hidden;overflow-y: hidden;margin-left:0px;z-index: -1000;}
#section-movie-detail {padding:10px;}
#section-movie-detail h3 {font-family: helvetica, arial, sans-serif; font-size: 20px; font-weight: bold;margin-top: -5px;}
#section-movie-detail .movie-description {margin-top: 5px;border-top:solid 4px #FFA500;}
#section-movie-detail .movie-description p {padding: 10px;font-family: helvetica, arial, sans-serif;}
#section-movie-detail .movie-information .dl-horizontal dt {width: 200px !important;}
#section-movie-detail .movie-information .dl-horizontal dd {margin-left: 230px !important;}

#member {margin: 0 auto;height:500px;width:1400px;display: block;background: url("../images/BNI-landing-splash-login.jpg") no-repeat center center;
    -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#member .login-box {display: block;height: 201px;left: 350px;position: absolute;top: 400px;width: 590px;
    background: url("../images/landing-splash-form.png") no-repeat center center;
    -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#member .login-box .form {margin:100px 0 20px 65px !important;}
#member .form-elem {height: 45px;width: 100%;}
#member .inputtext {float:left;padding: 5px;margin-left:30px;border: 1px solid #DDDDDD; width:170px;
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    /*Applying CSS 3radius*/
    -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;-webkit-box-shadow: 0 0 2px #DDDDDD;box-shadow: 0 0 2px #DDDDDD;
}
#member .login-box .inputtext:focus {box-shadow:0 0 2px #FFFE00;}
#member .button-login {float:left;background-color: #005e6a;border-radius: 7px;color: #ffffff;font-family: helvetica,arial,sans-serif;font-size: 18px;
    margin-bottom: 5px;padding: 8px;text-align: center;width: 167px;margin-left:59px;}
#member .button-login:hover {background-color: #B3E2DA;}
#member .button-login a {color: #ffffff;}

#member .button-forget {float:left;border-radius: 7px;color: #ffffff;font-family: helvetica,arial,sans-serif;font-size: 12px;
    margin-bottom: 5px;padding: 8px;text-align: center;width: 167px;}
#member .button-forget a {color: #ffffff;}
#member .button-forget a:hover {color: #005e6a;}


#member .profile-box {width: 760px;height: 430px;padding: 10px;margin-left:20%}
#member .profile-box h3 {font-family: helvetica, arial, sans-serif; font-size: 18px;margin-left:30px;color: #CEC0C0;line-height: 20px;}
#member .profile-box .profile-menu {float:left; width: 215px; height: 160px;}
#member .profile-box .profile-form {float:left;width: 450px; height: 370px; margin-left:20px;
    padding: 20px; background-color: rgb(255, 255, 255); border: 10px solid rgb(100, 100, 100);
    border: 10px solid rgba(0, 0, 0, 0.3);border-radius: 10px;
    -moz-background-clip: padding;  -webkit-background-clip: padding;  background-clip: padding-box;}
#member .personal-info-box {background-color: #ff6600; border-radius: 5px; color: #ffffff; font-family: helvetica,arial,sans-serif; font-size: 15px;
    font-weight: bold; height: 20px; padding: 10px;width: 180px;margin-top:10px;}
#member .history-box {background-color: #00525D; border-radius: 5px; color: #ffffff; font-family: helvetica,arial,sans-serif; font-size: 15px;
    font-weight: bold; height: 20px; padding: 10px;width: 180px;margin-top:10px;}

#section-member {margin-left:10px;margin-bottom:50px;height:auto;/*height: 240px;*/}
.member-title {font-family: Helvetica, arial, sans-serif;line-height: 36px;margin: 5px 0 5px 10%;padding: 0px 10px 0px 0px;}
.member-title a {cursor: none;}
.member-title span {font-size: 26px !important;color: #999;display: inline-block;padding: 5px 5px 5px 0px;text-transform: uppercase;width: auto;}
.member-title i {color: #999;font-size: 22px;}
.member-subtitle {margin-top: 5px;margin-left: 9%;}
.member-subtitle p {padding: 10px;font-family: helvetica, arial, sans-serif;}
.form-group {margin-bottom: 15px;}
.alert {margin-bottom: 15px !important;}

#faq-bni {margin-top:10px;margin-bottom: 5px;}
#faq-bni .faq-title-place {background-color: #81675D;padding:5px;}
#faq-bni .faq-title-place h3 {font-family: helvetica, arial, sans-serif;font-size: 14px;font-weight: bold;color: #ffffff;line-height: 12px;margin-left:10px;}
#faq-bni .faq-details {/*background-color: #DDDDDD;*/padding:10px;margin-bottom: 2px;}
.faq-details {font-size: 13px !important;margin-bottom: 40px;}

#search-onl {margin-top:20px;}
#search-onl .playlist {width: 100%;height: auto;}
#search-onl .playlist ul {padding: 0; list-style: none;}
#search-onl .playlist li {float: left; cursor: pointer; margin-right: 30px; margin-bottom:30px;vertical-align: top;}
#search-onl .playlist li .product-title {height: 20px;padding: 5px;background-color: #CFEEF1;}
#search-onl .playlist li .product-title span {font-family: helvetica, arial, sans-serif; font-size: 14px; font-weight: bold;color: #000000;}
#search-onl .playlist li .product-image {height:240px;width:160px; overflow: hidden;background: #cecece;border: solid 1px #cecece;}
#search-onl .playlist li .product-image img {width:160px;height:238px;min-height:136px;}

#help ul.toc {color:#000000;font-family: helvetica, sans-serif, arial; font-size: 13px; max-width: 70em; padding: 0; overflow-x: hidden; list-style: none}
#help ul.toc li:before {float: left;width: 0;white-space: nowrap;content:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."}
#help ul.toc span:first-child {padding-right: 0.33em;}
#help ul.toc span + span {float: right;padding-left: 0.33em;}

#help ol.toc {color:#000000;font-family: helvetica, sans-serif, arial; font-size: 13px; max-width: 70em; padding: 0; overflow-x: hidden;}
#help ol.toc li:before {float: left;width: 0;white-space: nowrap;content:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."}
#help ol.toc span:first-child {padding-right: 0.33em;}
#help ol.toc span + span {float: right;padding-left: 0.33em;}
#help a {font-family: helvetica, arial, sans-serif;color: #000000;font-size: 14px;}
#help a:hover {color: #000000;}

.apps-dowload {width: 205px; height: 30px; margin-top: 5px;margin-left:10px;}
.ico-apps {background: url('../images/asset_button_sprite_googleplay_appstore.png') top no-repeat scroll;height: 30px; text-align: left; margin-top: 0px; position: relative;}
.ico-ios {float:left; background-position: left 0px;width: 95px;height: 30px;}
.ico-android {float:left; background-position: left -30px;width: 95px;height: 30px;}