<div class="marg10 font_norm family">    
    <div class="doc-header">
        <h2 style="margin:0px">Videos</h2>
        <i>API function to get videos content <span class="font_red">*)Under Construction</span></i>
        <div></div>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/...</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">GET</div>
    </div>
</div>
