<div class="marg10 font_norm family" style="min-width:1000px">        
    <div class="doc-header">
        <h2 style="margin:0px">Registration</h2>
        <i>A new user needs to first register into system before performing any activity.</i>
    </div>  
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/auth/signup</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">POST</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>apps_id</td>
                            <td>iBolz Application ID (required)</td>
                        </tr>
                        <tr>
                            <td>group_id</td>
                            <td>Customer group id, see: 'GROUPS' section (required)</td>
                        </tr>
                        <tr>
                            <td>allow_access</td>
                            <td>Options permission to access content on the group (required, value: 'true' or 'false')</td>
                        </tr>
                        <tr>
                            <td>allow_share</td>
                            <td>Options permission to share content on the group (required, value: 'true' or 'false')</td>
                        </tr>
                        <tr>
                            <td>allow_upload</td>
                            <td>Options permission to upload content on the group (required, value: 'true' or 'false')</td>
                        </tr>
                        <tr>
                            <td>mobile_no</td>
                            <td>Mobile number is user account name (required)</td>
                        </tr>              
                        <tr>
                            <td>password</td>
                            <td>User Password (required)</td>
                        </tr>
                        <tr>
                            <td>first_name</td>
                            <td>First Name (required)</td>
                        </tr>
                        <tr>
                            <td>last_name</td>
                            <td>Last Name (required)</td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>Complete Name or Display Name (optional, default: first_name + last_name)</td>
                        </tr>                                                                                    
                        <tr>
                            <td>longitude</td>
                            <td>Longitude of GPS coordinate (optional)</td>
                        </tr>         
                        <tr>
                            <td>latitude</td>
                            <td>Latitude of GPS coordinate (optional)</td>
                        </tr>                 
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="2" cellspacing="1">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>                    
                    <tr>
                        <td>message</td>
                        <td>is a successed or failed message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">        
        <div class="title bold">JSON Response</div>
        <div class="detail"> 
            <pre>
{
    "rcode": "OK",
    "message": "A new account has been saved",
    "message_fields": [
        "Thank you for submitting an user data.",
        "We've sent an email to htridianto@gmail.com to verify your address.",
        "Please check your email."
    ]
}
            </pre>
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>">
                <table border="0" cellpadding="2" cellspacing="1">
                    <tbody>                    
                        <tr>
                            <td nowrap>apps_id</td>
                            <td><input type="text" name="apps_id" id="apps_id" /></td>
                        </tr>                                               
                        <tr>
                            <td>mobile_no</td>
                            <td><input type="text" name="mobile_no" id="mobile_no" /></td>
                        </tr>
                        <tr>
                            <td>password</td>
                            <td><input type="text" name="password" id="password" /></td>
                        </tr>
                        <tr>
                            <td>first_name</td>
                            <td><input type="text" name="first_name" id="first_name" /></td>
                        </tr>
                        <tr>
                            <td>last_name</td>
                            <td><input type="text" name="last_name" id="last_name" /></td>
                        </tr>
                        <tr>
                            <td>group_id</td>
                            <td>
                                <select name="group_id" id="group_id"></select>
                            </td>
                        </tr>                         
                        <tr>
                            <td>allow_access</td>
                            <td>
                                <input type="checkbox" name="allow_access" id="allow_access" value="true" />
                            </td>
                        </tr> 
                        <tr>
                            <td>allow_upload</td>
                            <td>
                                <input type="checkbox" name="allow_upload" id="allow_upload" value="true" />
                            </td>
                        </tr> 
                        <tr>
                            <td>allow_share</td>
                            <td>
                                <input type="checkbox" name="allow_share" id="allow_share" value="true" />
                            </td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><button id="btn_test_<%=action_id%>" type="button" class="btn red">SUBMIT TEST</button></td>
                        </tr>        
                    </tbody>
                </table>                        
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>    
        </div>
    </div>   
</div>
<div class="clear"></div>
<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#apps_id').val('<%=apps_id%>');

        $.blockUI();
        $.getJSON("<%=REST_API%>/groups/categories/<%=apps_id%>", {}, function(jsonData){
            $('#group_id').empty();            
            if(jsonData.rcode == '1'){                
                $('#group_id').append(new Option('', ''));
                $(jsonData.items).each(function(idx, el){
                    $('#group_id').append(new Option(el.group_name, el.group_id));
                });                
            }
            $.unblockUI();
        }).fail(function(err) {
            $('#test_<%=action_id%>').fadeIn();
            $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
            $.unblockUI();
        });
        

        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $.blockUI();
            $params = $('#form_<%=action_id%>').serializeArray();
            $.ajax({
                url: $url, type: 'POST',
                data: $params, dataType: 'json',
                success: function (jsonData) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                    $.unblockUI();
                }, error: function (err) {
                    $('#test_<%=action_id%>').fadeIn();
                    $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                    $.unblockUI();
                }
            });
        });
    });
</script>