/* layout */
.left {
	display:inline;
	float:left;
}
.right {
	display:inline;
	float:right;
}
.clear {
	clear:both;
}
.marg10 {
	margin:10px;
}
.pad10 {
	padding:10px;
}
ul, li, p {margin:0; padding:0;}
img {border:none;}

/* font style */
.font_bigest {
	font-size:18px;
}
.font_biger {
	font-size:16px;
}
.font_big {
	font-size:14px;
}
.font_norm {
	font-size:12px;
}
.font_small {
	font-size:10px;
}
.font_smaller {
	font-size:8px;
}
.font_smallest {
	font-size:6px;
}
.font_red{
	color: red;
}
.bold { font-weight:bold;}
.family {font-family:Arial, Helvetica, sans-serif;}
.tshadow_black {text-shadow:0 -1px 0 rgba(0,0,0,0.5);}
.tshadow_white {text-shadow:0 1px 0 rgba(255,255,255,0.5);}


/* spinner styles */
div.spinner {
  position: relative;
  margin: 10% auto;
  text-align: center;
  text-transform: lowercase;
  color: #111;
  font-size:12px;
}    

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}    

p#spinner {
  height: 0;
  padding-top: 30px;
  width: 30px;
  overflow: hidden;
  margin: 0 auto;
  background-size:100% 100%;
  background-image: url('../img/spinner.png');
  -webkit-mask-size: 30px 30px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}