<li><div>CUSTOMERS</div></li>		
<li class="submenu"><a href="#user_workgroups">Workgroups</a></li>
<li class="submenu"><a href="#user_groups">Groups</a></li>
<li class="submenu"><a href="#registration">Registration</a></li>
<li class="submenu"><a href="#login">Login</a></li>
<li><div>CONTENTS</div></li>
<li class="submenu"><a href="#channel_categories">Channel Categories</a></li>
<li class="submenu"><a href="#channels">Channels</a></li>
<li class="submenu"><a href="#content_list">Contents</a></li>
<!-- <li class="submenu"><a href="#content_detail">Content Detail</a></li> -->