<div class="marg10 font_norm family">    
    <div class="doc-header">
        <h2 style="margin:0px">Videos</h2>
        <i>API function to get videos content</i>
        <div></div>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/...</div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">GET</div>
    </div>
    <div class="doc-content">
        <div class="title bold">Parameters</div>
        <div class="detail">
            <table border="0" cellpadding="5" cellspacing="1">
                <tbody>
                    <tbody>        
                        <tr>
                            <td>apps_id</td>
                            <td>iBolz Application ID (required)</td>
                        </tr>
                        <tr>
                            <td>group_id</td>
                            <td>Customer group id, see: 'GROUPS' section (required)</td>
                        </tr>        
                </tbody>
            </table>
        </div>
    </div>    
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="5" cellspacing="1">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>is server message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">
        <div class="title bold">JSON Response</div>
        <div class="detail">       
            <pre>
{
    "rcode": 1,
    "items": [
        {
            "apps_id": "com.balepoint.ibolz.demo.cn",
            "group_id": "1413678809542267154d8bc",
            "group_name": "History"
        },
        {
            "apps_id": "com.balepoint.ibolz.demo.cn",
            "group_id": "20800969375424e577c614a",
            "group_name": "体育系"
        },
        {
            "apps_id": "com.balepoint.ibolz.demo.cn",
            "group_id": "16009286765422672b1acde",
            "group_name": "外语学院"
        },
        ...
}
            </pre>                 
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>">
                <table border="0" cellpadding="2" cellspacing="1">
                    <tbody>
                        <tr>
                            <td nowrap>app_id</td>
                            <td><input type="text" name="apps_id" id="apps_id" /></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button id="btn_test_<%=action_id%>" type="button" class="btn red">SUBMIT TEST</button></td>
                        </tr>        
                    </tbody>
                </table>                        
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>
        </div>
    </div>   

</div>


<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#apps_id').val('<%=apps_id%>');
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $url = $url.replace('$app_id', $('#apps_id').val());
            $.blockUI();
            $params = $('#form_<%=action_id%>').serializeArray();
            $.get($url, $params, function(jsonData){
                $('#test_<%=action_id%>').fadeIn();
                $('#test_<%=action_id%>').html( JSON.stringify(jsonData, null, 4) );
                $.unblockUI();
            }).fail(function(err) {
                $('#test_<%=action_id%>').fadeIn();
                $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                $.unblockUI();
            });
        });
    });
</script>