<div class="marg10 font_norm family">    
    <div class="doc-header">
        <h2 style="margin:0px">Groups</h2>
        <i>API function to get user groups</i>
    </div>
    <div class="doc-content">
        <div class="title bold">URL</div>
        <div class="detail font_big" id="api_url_<%=action_id%>"><%=REST_API%>/external/customer/groups/<span class="font_red">$app_id</span>/<span class="font_red">$workgroup_id</span></div>
    </div>    
    <div class="doc-content">
        <div class="title bold">HTTP Method</div>
        <div class="detail">GET</div>
    </div>
    <div class="doc-content">
        <div class="title bold">Arguments</div>
        <div class="detail">
            <table border="0" cellpadding="2" cellspacing="1">
                <tbody>
                    <tr>
                        <td>app_id</td>
                        <td>is iBolz Application ID [Required]</td>
                    </tr>
                    <tr>
                        <td>workgroup_id</td>
                        <td>is Workgroup ID [Optional]</td>
                    </tr>
                </tbody>
            </table>                
        </div>
    </div>           
    <div class="doc-content">
        <div class="title bold">Response</div>
        <div class="detail">            
            <table border="0" cellpadding="5" cellspacing="1">
                <tbody>
                    <tr>
                        <td>rcode</td>
                        <td>is return code, [1=OK or 0=FAILED]</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>is server message</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>         
    <div class="doc-content">
        <div class="title bold">JSON Response</div>
        <div class="detail">       
            <pre>
{
    "rcode": 1,
    "items": [
        {
            "apps_id": "com.balepoint.ibolz.demo.cn",
            "group_id": "1413678809542267154d8bc",
            "group_name": "History",
            "group_title": "History - louie University"
        },
        {
            "apps_id": "com.balepoint.ibolz.demo.cn",
            "group_id": "516056931545f4b5677b10",
            "group_name": "Math",
            "group_title": "Math - louie University"
        },
        {
            "apps_id": "com.balepoint.ibolz.demo.cn",
            "group_id": "20800969375424e577c614a",
            "group_name": "体育系",
            "group_title": "体育系 - louie University"
        },
        ...
}
            </pre>                 
            <hr style="border:1px solid #eee"/>
            <form id="form_<%=action_id%>">
                <table border="0" cellpadding="2" cellspacing="1">
                    <tbody>
                        <tr>
                            <td nowrap>app_id</td>
                            <td><input type="text" name="apps_id" id="apps_id" /></td>
                        </tr>
                        <tr>
                            <td nowrap>workgroup_id</td>
                            <td>
                                <select name="workgroup_id" id="workgroup_id"></select>
                                <button type="button" id="btn_load_workgroups">Load Workgroups</button>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button id="btn_test_<%=action_id%>" type="button" class="btn red">SUBMIT TEST</button></td>
                        </tr>        
                    </tbody>
                </table>                        
            </form>
            <br />
            <pre class="code" id="test_<%=action_id%>"></pre>
        </div>
    </div>   
</div>

<script>
    $(document).ready(function(){
        $('#test_<%=action_id%>').hide();
        $('#apps_id').val('<%=apps_id%>');        
        $('#btn_test_<%=action_id%>').off('click').on('click', function(e){
            e.preventDefault();
            var $url = $('#api_url_<%=action_id%>').text();
            $url = $url.replace('$app_id', $('#apps_id').val());
            $url = $url.replace('/$workgroup_id', '');
            if( $('#workgroup_id').val() != null && $('#workgroup_id').val() != ''){
                $url += '/' + $('#workgroup_id').val();
            }
            $.blockUI();
            $params = {};//$('#form_<%=action_id%>').serializeArray();
            $.get($url, $params, function(jsonData){
                $('#test_<%=action_id%>').fadeIn();
                $('#test_<%=action_id%>').html( 
                    'URL: ' + $url + '<br />Result:<br />' + JSON.stringify(jsonData, null, 4) 
                );
                $.unblockUI();
            }).fail(function(err) {
                $('#test_<%=action_id%>').fadeIn();
                $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                $.unblockUI();
            });
        });

        $('#btn_load_workgroups').on('click', function(ev){
            ev.preventDefault();
            $.blockUI();
            $.getJSON("<%=REST_API%>/external/customer/workgroups/<%=apps_id%>", {}, function(jsonData){
                $('#workgroup_id').empty();            
                if(jsonData.rcode == '1'){                
                    $('#workgroup_id').append(new Option('', ''));
                    $(jsonData.items).each(function(idx, el){
                        $('#workgroup_id').append(new Option(el.workgroup_name, el.workgroup_id));
                    });                
                }
                $.unblockUI();
            }).fail(function(err) {
                $('#test_<%=action_id%>').fadeIn();
                $('#test_<%=action_id%>').html( JSON.stringify(err, null, 4) );
                $.unblockUI();
            });            
        });
    });
</script>