<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2015 <a href="http://ibolz.tv">iBOLZ</a>.</strong> All rights reserved.
</footer>