
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--
                        <img src="{theme_url('assets/img/user2-160x160.jpg')}" class="user-image" alt="User Image">
                        -->
                        <span class="hidden-xs">{$smarty.session.user_account->user_name}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <!--
                            <img src="{theme_url('assets/img/user2-160x160.jpg')}" class="img-circle" alt="User Image">
                            -->
                            <p>
                                {$smarty.session.user_account->user_name} - 
                                {foreach $smarty.session.user_account->role_list as $role}
                                    {$role->role_name}, 
                                {/foreach}
                                <br><br>
                                Group : 
                                {foreach $smarty.session.user_account->group_list as $group}
                                    {$group->group_name},
                                {/foreach}
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{base_url('login/doLogout')}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>